#wrp {
  position: relative;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 12vh;
width: 85vw;
max-height: 85vh;
}


h2 {
  position: relative;
  width: fit-content;
  height: fit-content;
  text-align: start;
width: 100%;
color: var(--blue-them-color);
top: -7vh;
text-align: left;
}

#supports-wrp {
  display: flex;
  justify-content: center;
  gap: 7vw;
  cursor: pointer;
  width: 100%;
  }


  #circle-wrp {
    display: flex;
    flex-direction: column;
    border: 0;
    background-color: transparent;
    box-shadow: none;
    text-align: center;
    gap: 5vh;
    color: var(--dblue-them-color);
    font-size: 125%;
    font-weight: bold;

  }

  #circle {
    box-shadow:0px 0px 15px var(--blue-them-color);
    width: 17vw;
  border-radius: 50%;
  min-height: 35vh;
  margin: auto;

  }

  #matiere {
    display: flex;
  width: 17vw;
  border-radius: 50%;
  min-height: 35vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  box-shadow:0px 0px 15px var(--blue-them-color);
  cursor: pointer;
  }


