mat-card {
  color: var(--white-them-color);
background-color:  var(--dblue-them-color);;

display: flex;
flex-direction: column;
margin-bottom: 2vh;
width: 60%;
margin: auto auto 2vh auto;
text-align: center;
}
#img-hover {
  align-self: center;
  min-width: fit-content;
  cursor: pointer;
  margin: -7vh 0 0 0;

  &:hover {
   img {
    transform: translateX(-30px);
   }
  }
}

#arrow {
  height: 12vh;
  width: 7vw;
  transition:350ms ease-in-out
}
#uploadedImage {
  min-height: max-content;
min-width: max-content;
width: 33vw;
height: 77vh;
}

h2 {
  text-align: center;
  margin-bottom: 0;
}

h3 {
  text-align: center;
  margin-bottom: 0;
  text-decoration: underline;
}
