#wrapper {
  display: grid;
  overflow-y: scroll;
  max-height: 71vh;

  width: 85vw;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

#trash {
  margin: auto;
position: relative;


}
.modifyUser {
  min-width: max-content;
  width: fit-content;
  align-self: center;
  margin-bottom: 5px;
}
.titles {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: max-content; // On set le 'height' et non le 'min-height' car le texte peut overflow et créer un scoll
  min-width: max-content;
  width: fit-content;
  margin: auto;
  border: none;
  background-color: transparent;
  text-align: center;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: var(--white-them-color);
  outline: none;
  resize: none;
  z-index: 10;
  cursor: pointer;
}
li {
  align-self: baseline;
  list-style: none;
  width: 75vw;
min-height: max-content;
max-height: max-content;
  color: var(--white-them-color);
transition: 350ms ease-in-out;
display: flex;
flex-direction: column;

  ul {
    cursor: pointer;
background-image: url("../../../../../../assets/images/arrow-right-white.svg");
background-repeat: no-repeat;
background-size: 10vh;
background-position: 95%;
&:hover {
  background-position: 90%;
  background-color: var(--dblue-them-color);
#trash {
  fill:white;
}
}
    transition: 250ms ease-in-out;
    background-color: var(--blue-them-color);
    width: 95%;
    min-height: max-content;
    height: fit-content;

display: flex;
flex-direction: row;
    border-radius: 10px;
    margin: 2vh auto 2vh auto;
    cursor: pointer;
    label {
      width: fit-content;
      height: fit-content;
      margin: 0 auto 0 auto;
    }
  }
}

h3 {
  justify-self: center;
  margin: 2vh auto 2vh auto;

}
#header-wrp {

display: flex;
flex-direction: column;
justify-self: right;
align-self: center;
width: 100%;
margin-bottom: 2vh;


}

#arrowD {
  transition: 350ms ease-in-out;
justify-self: center;
height: 3vh;
margin-top: 3vh;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
cursor: pointer;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(199, 205, 207);
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--dblue-them-color);
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;

}
/* <button  (click)="setModifyView()" class="modifyUser" mat-button ><img width="20px" height="20px" src="../../../../../../assets/images/pencil-fill-white.svg">
</button>*/