
<div id="wrapper">
  <div routerLink=".." id="img-hover">
    <img id="arrow"  src="../../../../assets/images/arrow-left.svg">
  </div>
  <mat-card>

   <h2>{{documentTitle}}</h2>
   <h3>Chapitre {{documentChapter}}</h3>

  </mat-card>



  <img id="uploadedImage" *ngIf="imgFile != undefined && imgExtension != 'pdf'" [src]="imgFile">
  <pdf-viewer id="uploadedImage"  *ngIf="imgExtension == 'pdf' && imgFile != undefined"[zoom]="0.8" [fit-to-page]="true" id="uploadedImage"    [original-size]="true" style="width: 80vw;height: 166vh" [render-text]="false" [src]="imgFile"></pdf-viewer>


</div>
