#wrapper {
    border-radius: 10px;
    width: 75vw;
    height: 90vh;
    background-color: var(--blue-them-color);
}

mat-error {
 color: var(--blue-them-color);
}


//Block de droite


#login-button {
    background-color: var(--blue-them-color);
width: 60%; //Ne doit pas dépasser 35vw (width du #rightSide)
height: 40px;
border-radius: 25px;
min-width: fit-content;
color: rgb(255, 255, 255);
font-size: 150%;
align-self: center;

}

#rightSide {
    display: flex;
    align-items: center;
    justify-items: flex-start;
    height: 90vh;
    width: 50%;
    min-width: 50%;
justify-content: flex-start;
border-radius: 0px 10px 10px 0px;
background-color: var(--white-them-color);

h1 {
    color: var(--blue-them-color);
    font-size: 230%;
    font-weight: 20px;

  }

  #logo {
    align-self: center;
    margin-top: 15px;
  }

}

#mff-psw {
display: flex;
width: 100%;
position: absolute;
justify-content: flex-end;
top: 0;
}

#copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--blue-them-color);
    margin: 0 auto auto auto;
    font-size: 100%;
    letter-spacing: 2px;

     :first-child {
        margin: 0 0 5px 0;
     }

     :last-child {
        margin: 0 0 0 0;
     }

}
.example-form-field {
    color: var(--blue-them-color);

  }

  input {
    color: var(--blue-them-color);

    letter-spacing: 2px;
  }


  #oublier {
    text-decoration: underline;
    cursor: pointer;
    font-size: 120%;
    margin: auto auto auto auto;
  }

  form {
    margin: auto;
    align-items: center;
width: 80%;
letter-spacing: 2px;
  }

  mat-label {
    color: var(--blue-them-color);
text-align: center;
  }
  mat-form-field {
    height: 10px;
  }



    #ravie {
    min-width: max-content; // Maintenir le texte sur la même ligne (+ responsive)
    color: var(--blue-them-color);
    align-self: center;
    justify-self: center;
    margin: auto auto auto auto;
    letter-spacing: 2px;
      }

  #inputWrapper {
width: 100%;
align-self: center;
  }

  //Block de gauche

  #leftSide {
    width: 50%;
    min-width: 50%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-items: center;
    border-radius: 10px 0px 0px 10px;
    background: url("../../../assets/images/college-15-WHITE.svg") no-repeat center;// Je sais pas ocmment j'ai fais
    background-size: 200px 200px;

    h1 {
        margin:auto auto auto auto;
        color: var(--white-them-color)  ;
        font-size: 280%;
        font-weight: 20px;
      }

  }

  #redirect-register-btn {
    display: flex;
    background-color: var(--white-them-color)  ;
    width: 15vw; //Ne doit pas dépasser 35vw (width du #rightSide)
    height: 40px;
    min-width: fit-content;
color: var(--blue-them-color)  ;
font-size: 125%;
border-radius: 25px;
margin-bottom: 30px;
margin-right: 35px;
justify-content: center;
align-self: flex-end;
&::after {
    position: absolute;
    width: 0vw;
    height: 2px;
    content: " ";
    background-color: var(--blue-them-color);
bottom: 7px;
transition:  ease-in-out 200ms;

}

&:hover {
    &::after {
        width:  60%;
    }
}
  }




  h2 {
    color: var(--white-them-color)  ;
    align-self: flex-start;
    margin:auto auto auto auto;
  }

  #title {
    align-self: center;
    margin: 5% auto auto 10%;
    letter-spacing: 2px;
  }

  #welcome {
    margin: auto auto auto 10%;
    letter-spacing: 2px;
   }

   #notRegistered {
    color: var(--white-them-color);
min-width: max-content;
letter-spacing: 2px;
   }





   @media (max-width: 480px) {

  }

  @media (max-width: 980px) {

  }
