<mat-spinner *ngIf="publicationList.length == 0"></mat-spinner>

<div id="wrapper">
    <div *ngFor="let publication of publicationList;index as i" class="blocks">
        <h1 [innerHTML]="publication.title">
      </h1>

      <div (click)="openPublicationView(publication,publication.img_id)" width="25px" height="25px" id="content-block">
          <p id="content" [innerHTML]="publication.description"></p>
      <div *ngIf="loaded" id="imgWrp">
      <img *ngIf="publication.title != undefined && publication.extension != 'pdf' && publication.extension != undefined && imgFile[i] != undefined" id="uploadedImage" [src]="imgFile[i]">
      <pdf-viewer [zoom]="0.6" [fit-to-page]="true" id="uploadedImage" [original-size]="true" style="width: 100%;height: 100%;" [render-text]="false" *ngIf="publication.extension == 'pdf' && imgFile[i] != undefined" [src]="imgFile[i]"></pdf-viewer>
    </div>
    </div>
  <div>
    <h4 id="footer" [innerHTML]="'Publier le : ' + publication.date">
  </h4>
</div>
      </div>

    </div>


