<div class="statistiques">Statistiques</div>
<div class="main">
    <div class="eleves"> 
        <button 
        [ngStyle]="globalIndex == i ? {'background-color': 'var(--blue-them-color)'} : {'color':'black'}"   
        class="style" 
        (click)="globalIndex=i"  
        *ngFor="let eleve of eleves; index as i">

        {{eleve.eleveName}}

        </button>
    </div>
    <div class="notes">
        <button 
            class="style"  
            *ngFor="let matiere of eleves[globalIndex].types">
            
            {{matiere.typeName}}
        </button>
    </div>
</div>
