$button-over-color: #5BABD2;
$button-color: #CEE6F1;
$text-color : #2B4759;
$text-over-color : #FFFFFF;

div.main {
display : grid;
grid-template-columns: repeat(2, 1fr);
grid-gap: 10px;
    div.eleves {
    grid-template: 1/5;
    display : flex;
    flex-direction: column;
    }

    div.notes {
    grid-template : 5/10;
    display : flex;
    flex-direction: column;
    }
}

button.style {
    background-color : $button-color;
    color : $text-color;
    padding : 10px;
    margin : 10px;
    border : none; 
    border-radius: 20px;
    background-color: $button-over-color;
}

button.style:hover {
        background-color : $button-over-color;
        color : $text-over-color; 
}
