<div id="global" fxLayout="column" >
  <h1 routerLink="../group"><img src="../../../../../assets/images/arrow-left.svg"> Planning {{groupLink}}</h1>
<div id="wrapper" fxLayout="row"  fxFlex="100" fxLayoutAlign="center start">
<div  id="leftWrp">
  <div id="seanceGroupsDisplayer" [matMenuTriggerFor]="displayGroups"
  >
  {{"Seances " + selectedSeanceGroup}}
  <img src="../../../../../assets/images/arrow-bar-down.svg">
</div>
  <mat-menu  #displayGroups="matMenu" id="groupListWrp">
    <button [style]="{'background-color': seanceItemGroupIndex == i ? 'var(--dblue-them-color)' : 'var(--white-them-color)','color': seanceItemGroupIndex == i ? 'var(--white-them-color)':'var(--dblue-them-color)' }"  (click)="selectGroup(group.groupName,i)" mat-button *ngFor="let group of groupList;index as i">
      {{"Seances group " + group.groupName}}

    </button>

  </mat-menu>
  <div  (cdkDropListDropped)="drop($event)"  [cdkDropListData]="seanceListAvailableTest[containerIndex]"  [cdkDropListConnectedTo]="[day]" #seanceItemList="cdkDropList" cdkDropList id="seanceWrp">
    <div   *ngFor="let seance of seanceListAvailableTest;index as i">


    <button  (mouseenter)="enter(i)"  cdkDropList #event="cdkDropList" (cdkDragStarted)="onDragStart($event)" cdkDrag style="cursor: pointer;"  [matMenuTriggerFor]="menu"  [style]="{'background-color': getBackgroundColor(seance[1]),'color':getTextColor(seance[1]),'border': seance[1] == 'Examen' ? '1px solid var(--dblue-them-color)' : '0px solid','height':getHeightSeanceAvailableButton(seance[5]),'font-size':getFontSize(seance[5]),'width':getWidth(seance[5])}" class="seanceBtn" mat-button>

      <div id="buttonAvailableContent">
        {{seance[1]}}
        {{getDuration(seance[5])}}
      </div>
    </button>
    <mat-menu style="cursor: pointer;text-align: center;" #menu="matMenu">
      <mat-label  mat-menu-item>{{seance[4] || "Aucune matière n'est associée"}}</mat-label>
      <mat-label  mat-menu-item>{{seance[2] || "Aucune matière n'est associée"}}</mat-label>
      <button class="deleteElement" (click)="deleteSeanceItemFromAvailableList(i)" mat-menu-item>Supprimer l'element</button>
    </mat-menu>

  </div>
</div>
<div id="addSeanceImg">
  <img  [matMenuTriggerFor]="type" src="../../../../../assets/images/plus-square-fill.svg">

  <mat-menu  #type="matMenu">
    <button (mouseenter)="selectedItem.type = 'Cour'" style="background-color:var(--dblue-them-color);color: var(--white-them-color);" mat-menu-item [matMenuTriggerFor]="courMenu">Cour</button>
    <button (mouseenter)="selectedItem.type = 'Examen'" style="color:var(--dblue-them-color);" mat-menu-item [matMenuTriggerFor]="examenMenu">Examen</button>
    <button (mouseenter)="selectedItem.type = 'rdv'"  style="background-color: var(--blue-them-color);color:var(--white-them-color)" mat-menu-item [matMenuTriggerFor]="profList">Rdv</button>
  </mat-menu>


  <mat-menu  #profList="matMenu">
    <div (mouseenter)="selectedItem.name = professeur.name" *ngFor="let professeur of menuRdv">
    <button mat-menu-item [matMenuTriggerFor]="durationsMenu">{{professeur.name}}</button>
    </div>
  </mat-menu>

  <mat-menu  #courMenu="matMenu">
    <div (mouseenter)="selectedItem.name = cour.name" *ngFor="let cour of menuCour">
      <button mat-menu-item [matMenuTriggerFor]="durationsMenu">{{cour.name}}</button>
      </div>
  </mat-menu>

  <mat-menu  #examenMenu="matMenu">
    <div (mouseenter)="selectedItem.name = cour.name" *ngFor="let cour of menuCour">
      <button   mat-menu-item [matMenuTriggerFor]="durationsMenu" >{{cour.name}}</button>
      </div>
  </mat-menu>


    <mat-menu  #durationsMenu="matMenu">
      <div (mouseenter)="selectedItem.duration = duration" *ngFor="let duration of durations">
        <button   mat-menu-item [matMenuTriggerFor]="room" >{{duration == '25' ? '15m' : duration == '50' ? '30m' : duration == '75' ? '45m' : '60m'}}</button>
        </div>
    </mat-menu>

    <mat-menu #room="matMenu">

    <mat-form-field (keyup)="selectedItem.room = roomName.value" (click)="$event.stopPropagation()">
      <mat-label>Entrez le nom de la salle</mat-label>
      <input #roomName matInput>
    </mat-form-field>
    <button (click)="saveItem(roomName.value)" mat-menu-item>Ajouter</button>


  </mat-menu>

</div>
</div>


  <div fxLayout="column"  id="rightWrp">
    <div fxFlex="80"  id="validateBtnWrp">
    <button (click)="validatePlanning()" mat-button>Valider le planning</button>

  <span>
    <img width="40vw" src="../../../../assets/images/arrow-left.svg" id="left">
    <h2>Semaine du {{week}}</h2>
      <img width="40vw" src="../../../../assets/images/arrow-right.svg" id="right">
    </span>

    <img  [style]="{'width': touched ? '0' : '5vw'}"  src="../../../../../assets/images/check-lg.svg">

    <img *ngIf="!isExpanded" style="cursor:pointer" (click)="isExpanded = !isExpanded" src="../../../../../assets/images/arrows-expand.svg">
    <img *ngIf="isExpanded" style="cursor:pointer" (click)="isExpanded = !isExpanded" src="../../../../../assets/images/arrows-collapse.svg">
    <mat-form-field class="datePicker" [floatLabel]="'always'">

        <mat-label>Choisissez une semaine</mat-label>
        <div style="display:flex">
        <mat-date-range-input [dateFilter]="rangeFilter" [rangePicker]="picker">
          <input disabled #date (dateChange)="getSelectedDate(date.value)" matStartDate placeholder="Date de début">
          <input disabled matEndDate placeholder="Date de fin">
        </mat-date-range-input>

        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker [disabled]="false" #picker></mat-date-range-picker>
        </div>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>

    </mat-form-field>
  </div>
<div  id="borderTableWrp" fxLayoutAlign="end center" fxFill>

  <table
  fxFlex="100" mat-table
  [dataSource]="dataSource" multiTemplateDataRows
  >


    <div
    class="example-list"
    cdkDropList
    #day="cdkDropList"
    [cdkDropListData]="semaineJours[dayIndex][heureIndex][0][creneauIndex]"
    [cdkDropListConnectedTo]="[seanceItemList]"
    (cdkDropListDropped)="drop($event)">


  <ng-container  *ngFor="let column of columnsToDisplay;index as day" matColumnDef="{{column}}">
    <div  *ngIf="column == ' '">
      <td   id="header" *matCellDef="let element;let i = dataIndex ">
          {{element}}
        </td>
    </div>
  <th
   *matHeaderCellDef> {{column}} </th>

    <td    (mouseleave)="isOut = !isOut" (mouseenter)="heureIndex = i;dayIndex = day - 1;isOut = !isOut"    *matCellDef="let i = dataIndex">




      <div [style]="{'max-height': isExpanded ? '15vh' : '5vh','height': isExpanded ? '15vh' : '5vh'}" [matMenuTriggerFor]="menu"  class="rowDaysWrp"
         *ngIf="semaineJours[0][i][0][3] == column && ((isExpanded == false)  ||  semaineJours[0][i][0][5] != '' || semaineJours[0][i][1][5] != '' || semaineJours[0][i][2][5] != '' || semaineJours[0][i][3][5] != '' ) ">


        <div (mouseenter)="creneauIndex = 0"   [style]="{
      'background-color' : (semaineJours[0][i][0][6] == '00') ? getBackgroundColor(semaineJours[0][i][0][2]) : 'transparent' ,
      'color':getTextColor(semaineJours[0][i][0][2]),
      'min-height': isExpanded ? '25%' : 'calc(5vh / 4)'}"
    id="t-00">
          <label *ngIf="(semaineJours[0][i][0][6] == '00') && isExpanded" >    {{semaineJours[0][i][0][2]}}</label>

    <mat-menu style="cursor: pointer;text-align: center;" #menu="matMenu">
      <mat-label mat-menu-item>Type de séance : {{semaineJours[0][i][creneauIndex][2] || "Aucun type n'est associée"}}</mat-label>
      <mat-label mat-menu-item>Salle : {{semaineJours[0][i][creneauIndex][4] || "Aucune salle n'est associée"}}</mat-label>
      <mat-label mat-menu-item>Matière : {{semaineJours[0][i][creneauIndex][1] || "Aucune matière n'est associée"}}</mat-label>
      <mat-label mat-menu-item>Durée : {{semaineJours[0][i][creneauIndex][5] == '25' ? '15m' : semaineJours[0][i][creneauIndex][5] == '50' ? '30m' : semaineJours[0][i][creneauIndex][5] == '75' ? '45m' : '60m'}}</mat-label>
      <mat-label  mat-menu-item>Commence à : {{semaineJours[0][i][creneauIndex][0]}}:{{semaineJours[0][i][creneauIndex][6]}}</mat-label>
      <button (click)="deleteItemFromCalendar(0,i)"   class="deleteElement" mat-button>Supprimer l'element</button>
    </mat-menu>
        </div>

        <div (mouseenter)="creneauIndex = 1"  [style]="{
          'background-color' : semaineJours[0][i][1][6] == '15' || (semaineJours[0][i][1][6] == '00' && semaineJours[0][i][1][5] != '25') ? getBackgroundColor(semaineJours[0][i][1][2]) : 'transparent' ,
          'color':getTextColor(semaineJours[0][i][1][2]),
          'min-height': isExpanded ? '25%' : 'calc(5vh / 4)'}"
           id="t-15">
          <label *ngIf="isExpanded && (semaineJours[0][i][1][6] == '15' || (semaineJours[0][i][1][6] == '00' && semaineJours[0][i][1][5] != '25'))" >    {{semaineJours[0][i][1][2]}}</label>

    <mat-menu style="cursor: pointer;text-align: center;" #menu="matMenu">
      <mat-label mat-menu-item>Type de séance : {{semaineJours[0][i][creneauIndex][2] || "Aucun type n'est associée"}}</mat-label>
      <mat-label mat-menu-item>Salle : {{semaineJours[0][i][creneauIndex][4] || "Aucune salle n'est associée"}}</mat-label>
      <mat-label mat-menu-item>Matière : {{semaineJours[0][i][creneauIndex][1] || "Aucune matière n'est associée"}}</mat-label>
      <mat-label mat-menu-item>Durée : {{semaineJours[0][i][creneauIndex][5] == '25' ? '15m' : semaineJours[0][i][creneauIndex][5] == '50' ? '30m' : semaineJours[0][i][creneauIndex][5] == '75' ? '45m' : '60m'}}</mat-label>
      <mat-label  mat-menu-item>Commence à : {{semaineJours[0][i][creneauIndex][0]}}:{{semaineJours[0][i][creneauIndex][6]}}</mat-label>
      <button (click)="deleteItemFromCalendar(0,i)"   class="deleteElement" mat-button>Supprimer l'element</button>
    </mat-menu>
        </div>

        <div (mouseenter)="creneauIndex = 2" [style]="{
          'background-color' : semaineJours[0][i][2][6] == '30' || (semaineJours[0][i][2][6] == '15' && semaineJours[0][i][2][5] != '25') || (semaineJours[0][i][2][6] == '00' && (semaineJours[0][i][2][5] != '25' && semaineJours[0][i][2][5] != '50')) ? getBackgroundColor(semaineJours[0][i][2][2]) : 'transparent',
          'color':getTextColor(semaineJours[0][i][2][2]),
          'min-height': isExpanded ? '25%' : 'calc(5vh / 4)'}"

           id="t-30">
          <label *ngIf="isExpanded && (semaineJours[0][i][2][6] == '30' || (semaineJours[0][i][2][6] == '15' && semaineJours[0][i][2][5] != '25') || (semaineJours[0][i][2][6] == '00' && (semaineJours[0][i][2][5] != '25' && semaineJours[0][i][2][5] != '50')))" >    {{semaineJours[0][i][2][2]}}</label>

    <mat-menu style="cursor: pointer;text-align: center;" #menu="matMenu">
      <mat-label mat-menu-item>Type de séance : {{semaineJours[0][i][creneauIndex][2] || "Aucun type n'est associée"}}</mat-label>
      <mat-label mat-menu-item>Salle : {{semaineJours[0][i][creneauIndex][4] || "Aucune salle n'est associée"}}</mat-label>
      <mat-label mat-menu-item>Matière : {{semaineJours[0][i][creneauIndex][1] || "Aucune matière n'est associée"}}</mat-label>
      <mat-label mat-menu-item>Durée : {{semaineJours[0][i][creneauIndex][5] == '25' ? '15m' : semaineJours[0][i][creneauIndex][5] == '50' ? '30m' : semaineJours[0][i][creneauIndex][5] == '75' ? '45m' : '60m'}}</mat-label>
      <mat-label  mat-menu-item>Commence à : {{semaineJours[0][i][creneauIndex][0]}}:{{semaineJours[0][i][creneauIndex][6]}}</mat-label>
      <button (click)="deleteItemFromCalendar(0,i)"   class="deleteElement" mat-button>Supprimer l'element</button>
    </mat-menu>
        </div>

        <div (mouseenter)="creneauIndex = 3" [style]="{
          'background-color' : (semaineJours[0][i][3][6] == '30' && semaineJours[0][i][3][5] != '25' ) ||  semaineJours[0][i][3][6] == '45' || semaineJours[0][i][3][5] == '100' ||  (semaineJours[0][i][3][6] == '15' && (semaineJours[0][i][3][5] == '75' || semaineJours[0][i][3][5] == '100')) || (semaineJours[0][i][3][6] == '00' && semaineJours[0][i][3][5] == '100') ? getBackgroundColor(semaineJours[0][i][3][2]) : 'transparent' ,
          'color':getTextColor(semaineJours[0][i][3][2]),
          'min-height': isExpanded ? '25%' : 'calc(5vh / 4)'}"
           id="t-45">
          <label *ngIf=" isExpanded && ((semaineJours[0][i][3][6] == '30' && semaineJours[0][i][3][5] != '25' ) ||  semaineJours[0][i][3][6] == '45' || semaineJours[0][i][3][5] == '100' ||  (semaineJours[0][i][3][6] == '15' && (semaineJours[0][i][3][5] == '75' || semaineJours[0][i][3][5] == '100')) || (semaineJours[0][i][3][6] == '00' && semaineJours[0][i][3][5] == '100')) " >    {{semaineJours[0][i][3][2]}}</label>

    <mat-menu style="cursor: pointer;text-align: center;" #menu="matMenu">
      <mat-label mat-menu-item>Type de séance : {{semaineJours[0][i][creneauIndex][2] || "Aucun type n'est associée"}}</mat-label>
      <mat-label mat-menu-item>Salle : {{semaineJours[0][i][creneauIndex][4] || "Aucune salle n'est associée"}}</mat-label>
      <mat-label mat-menu-item>Matière : {{semaineJours[0][i][creneauIndex][1] || "Aucune matière n'est associée"}}</mat-label>
      <mat-label mat-menu-item>Durée : {{semaineJours[0][i][creneauIndex][5] == '25' ? '15m' : semaineJours[0][i][creneauIndex][5] == '50' ? '30m' : semaineJours[0][i][creneauIndex][5] == '75' ? '45m' : '60m'}}</mat-label>
      <mat-label  mat-menu-item>Commence à : {{semaineJours[0][i][creneauIndex][0]}}:{{semaineJours[0][i][creneauIndex][6]}}</mat-label>
      <button (click)="deleteItemFromCalendar(0,i)"   class="deleteElement" mat-button>Supprimer l'element</button>
    </mat-menu>
        </div>
      </div>



    <div [style]="{'max-height': isExpanded ? '15vh' : '5vh','height': isExpanded ? '15vh' : '5vh'}" [matMenuTriggerFor]="menu" class="rowDaysWrp"
      *ngIf="i < creneaux.length && semaineJours[1][i][0][3] == column && ((isExpanded == false)  ||  semaineJours[1][i][0][5] != '' || semaineJours[1][i][1][5] != '' || semaineJours[1][i][2][5] != '' || semaineJours[1][i][3][5] != '' )"
      >
        <div  (mouseenter)="creneauIndex = 0"  [style]="{
      'background-color' : (semaineJours[1][i][0][6] == '00') ? getBackgroundColor(semaineJours[1][i][0][2]) : 'transparent' ,
      'color':getTextColor(semaineJours[1][i][0][2]),
      'min-height': isExpanded ? '25%' : 'calc(5vh / 4)'}"
 id="t-00">
          <label *ngIf="isExpanded && (semaineJours[1][i][0][6] == '00')" >    {{semaineJours[1][i][0][2]}}</label>
          <mat-menu style="cursor: pointer;text-align: center;" #menu="matMenu">
            <mat-label mat-menu-item>Type de séance : {{semaineJours[1][i][creneauIndex][2] || "Aucun type n'est associée"}}</mat-label>
            <mat-label mat-menu-item>Salle : {{semaineJours[1][i][creneauIndex][4] || "Aucune salle n'est associée"}}</mat-label>
            <mat-label  mat-menu-item>Matière : {{semaineJours[1][i][creneauIndex][1] || "Aucune matière n'est associée"}}</mat-label>
            <mat-label mat-menu-item>Durée : {{semaineJours[1][i][creneauIndex][5] == '25' ? '15m' : semaineJours[1][i][creneauIndex][5] == '50' ? '30m' : semaineJours[1][i][creneauIndex][5] == '75' ? '45m' : '60m'}}</mat-label>
            <mat-label  mat-menu-item>Commence à : {{semaineJours[1][i][creneauIndex][0]}}:{{semaineJours[1][i][creneauIndex][6]}}</mat-label>
            <button (click)="deleteItemFromCalendar(1,i)"  class="deleteElement" mat-button>Supprimer l'element</button>
          </mat-menu>
        </div>

        <div (mouseenter)="creneauIndex = 1" [style]="{
          'background-color' : semaineJours[1][i][1][6] == '15' || (semaineJours[1][i][1][6] == '00' && semaineJours[1][i][1][5] != '25')  ? getBackgroundColor(semaineJours[1][i][1][2]) : 'transparent' ,
          'color':getTextColor(semaineJours[1][i][1][2]),
          'min-height': isExpanded ? '25%' : 'calc(5vh / 4)'}"
           id="t-15">
          <label *ngIf="isExpanded && (semaineJours[1][i][1][6] == '15' || (semaineJours[1][i][1][6] == '00' && semaineJours[1][i][1][5] != '25'))" >    {{semaineJours[1][i][1][2]}}</label>
          <mat-menu style="cursor: pointer;text-align: center;" #menu="matMenu">
            <mat-label mat-menu-item>Type de séance : {{semaineJours[1][i][creneauIndex][2] || "Aucun type n'est associée"}}</mat-label>
            <mat-label mat-menu-item>Salle : {{semaineJours[1][i][creneauIndex][4] || "Aucune salle n'est associée"}}</mat-label>
            <mat-label  mat-menu-item>Matière : {{semaineJours[1][i][creneauIndex][1] || "Aucune matière n'est associée"}}</mat-label>
            <mat-label mat-menu-item>Durée : {{semaineJours[1][i][creneauIndex][5] == '25' ? '15m' : semaineJours[1][i][creneauIndex][5] == '50' ? '30m' : semaineJours[1][i][creneauIndex][5] == '75' ? '45m' : '60m'}}</mat-label>
            <mat-label  mat-menu-item>Commence à : {{semaineJours[1][i][creneauIndex][0]}}:{{semaineJours[1][i][creneauIndex][6]}}</mat-label>
            <button (click)="deleteItemFromCalendar(1,i)"  class="deleteElement" mat-button>Supprimer l'element</button>
          </mat-menu>
        </div>
        <div (mouseenter)="creneauIndex = 2" [style]="{
          'background-color' : semaineJours[1][i][2][6] == '30' || (semaineJours[1][i][2][6] == '15' && semaineJours[1][i][2][5] != '25') || (semaineJours[1][i][2][6] == '00' && (semaineJours[1][i][2][5] != '25' && semaineJours[1][i][2][5] != '50'))  ? getBackgroundColor(semaineJours[1][i][2][2]) : 'transparent' ,
          'color':getTextColor(semaineJours[1][i][2][2]),
          'min-height': isExpanded ? '25%' : 'calc(5vh / 4)'}"
           id="t-30">
          <label *ngIf="isExpanded && (semaineJours[1][i][2][6] == '30' || (semaineJours[1][i][2][6] == '15' && semaineJours[1][i][2][5] != '25') || (semaineJours[1][i][2][6] == '00' && (semaineJours[1][i][2][5] != '25' && semaineJours[1][i][2][5] != '50')))" >
               {{semaineJours[1][i][2][2]}}</label>
               <mat-menu style="cursor: pointer;text-align: center;" #menu="matMenu">
                <mat-label mat-menu-item>Type de séance : {{semaineJours[1][i][creneauIndex][2] || "Aucun type n'est associée"}}</mat-label>
                <mat-label mat-menu-item>Salle : {{semaineJours[1][i][creneauIndex][4] || "Aucune salle n'est associée"}}</mat-label>
                <mat-label  mat-menu-item>Matière : {{semaineJours[1][i][creneauIndex][1] || "Aucune matière n'est associée"}}</mat-label>
                <mat-label mat-menu-item>Durée : {{semaineJours[1][i][creneauIndex][5] == '25' ? '15m' : semaineJours[1][i][creneauIndex][5] == '50' ? '30m' : semaineJours[1][i][creneauIndex][5] == '75' ? '45m' : '60m'}}</mat-label>
                <mat-label  mat-menu-item>Commence à : {{semaineJours[1][i][creneauIndex][0]}}:{{semaineJours[1][i][creneauIndex][6]}}</mat-label>
                <button (click)="deleteItemFromCalendar(1,i)"  class="deleteElement" mat-button>Supprimer l'element</button>
              </mat-menu>

              </div>
        <div (mouseenter)="creneauIndex = 3" [style]="{
          'background-color' : (semaineJours[1][i][3][6] == '30' && semaineJours[1][i][3][5] != '25' ) ||  semaineJours[1][i][3][6] == '45' || semaineJours[1][i][3][5] == '100' ||  (semaineJours[1][i][3][6] == '15' && (semaineJours[1][i][3][5] == '75' || semaineJours[1][i][3][5] == '100')) || (semaineJours[1][i][3][6] == '00' && semaineJours[1][i][3][5] == '100') ? getBackgroundColor(semaineJours[1][i][3][2]) : 'transparent' ,
          'color':getTextColor(semaineJours[1][i][3][2]),
          'min-height': isExpanded ? '25%' : 'calc(5vh / 4)'}"
           id="t-45">
          <label *ngIf="isExpanded && ((semaineJours[1][i][3][6] == '30' && semaineJours[1][i][3][5] != '25' ) ||  semaineJours[1][i][3][6] == '45' || semaineJours[1][i][3][5] == '100' ||  (semaineJours[1][i][3][6] == '15' && (semaineJours[1][i][3][5] == '75' || semaineJours[1][i][3][5] == '100')) || (semaineJours[1][i][3][6] == '00' && semaineJours[1][i][3][5] == '100'))" >
                {{semaineJours[1][i][3][2]}}</label>
                <mat-menu style="cursor: pointer;text-align: center;" #menu="matMenu">
                  <mat-label mat-menu-item>Type de séance : {{semaineJours[1][i][creneauIndex][2] || "Aucun type n'est associée"}}</mat-label>
                  <mat-label mat-menu-item>Salle : {{semaineJours[1][i][creneauIndex][4] || "Aucune salle n'est associée"}}</mat-label>
                  <mat-label  mat-menu-item>Matière : {{semaineJours[1][i][creneauIndex][1] || "Aucune matière n'est associée"}}</mat-label>
                  <mat-label mat-menu-item>Durée : {{semaineJours[1][i][creneauIndex][5] == '25' ? '15m' : semaineJours[1][i][creneauIndex][5] == '50' ? '30m' : semaineJours[1][i][creneauIndex][5] == '75' ? '45m' : '60m'}}</mat-label>
                  <mat-label  mat-menu-item>Commence à : {{semaineJours[1][i][creneauIndex][0]}}:{{semaineJours[1][i][creneauIndex][6]}}</mat-label>
                  <button (click)="deleteItemFromCalendar(1,i)"  class="deleteElement" mat-button>Supprimer l'element</button>
                </mat-menu>
        </div>

    </div>


    <div [style]="{'max-height': isExpanded ? '15vh' : '5vh','height': isExpanded ? '15vh' : '5vh'}" [matMenuTriggerFor]="menu" class="rowDaysWrp"
    *ngIf="i < creneaux.length && semaineJours[2][i][0][3] == column && ((isExpanded == false)  ||  semaineJours[2][i][0][5] != '' || semaineJours[2][i][1][5] != '' || semaineJours[2][i][2][5] != '' || semaineJours[2][i][3][5] != '' )">

      <div (mouseenter)="creneauIndex = 0" [style]="{
        'background-color' : (semaineJours[2][i][0][6] == '00') ? getBackgroundColor(semaineJours[2][i][0][2]) :'transparent' ,
        'color':getTextColor(semaineJours[2][i][0][2]),
        'min-height': isExpanded ? '25%' : 'calc(5vh / 4)'}"
        id="t-00">
            <label *ngIf="isExpanded && (semaineJours[2][i][0][6] == '00')" >    {{semaineJours[2][i][0][2]}}</label>
            <mat-menu style="cursor: pointer;text-align: center;" #menu="matMenu">
              <mat-label mat-menu-item>Type de séance : {{semaineJours[2][i][creneauIndex][2] || "Aucun type n'est associée"}}</mat-label>
              <mat-label mat-menu-item>Salle : {{semaineJours[2][i][creneauIndex][4] || "Aucune salle n'est associée"}}</mat-label>
              <mat-label  mat-menu-item>Matière : {{semaineJours[2][i][creneauIndex][1] || "Aucune matière n'est associée"}}</mat-label>
              <mat-label mat-menu-item>Durée : {{semaineJours[2][i][creneauIndex][5] == '25' ? '15m' : semaineJours[2][i][creneauIndex][5] == '50' ? '30m' : semaineJours[2][i][creneauIndex][5] == '75' ? '45m' : '60m'}}</mat-label>
              <mat-label  mat-menu-item>Commence à : {{semaineJours[2][i][creneauIndex][0]}}:{{semaineJours[2][i][creneauIndex][6]}}</mat-label>
              <button (click)="deleteItemFromCalendar(2,i)" class="deleteElement" mat-button>Supprimer l'element</button>
            </mat-menu>
          </div>
          <div (mouseenter)="creneauIndex = 1" [style]="{
            'background-color' : semaineJours[2][i][1][6] == '15' || (semaineJours[2][i][1][6] == '00' && semaineJours[2][i][1][5] != '25') ? getBackgroundColor(semaineJours[2][i][1][2]) :'transparent' ,
            'color':getTextColor(semaineJours[2][i][1][2]),
            'min-height': isExpanded ? '25%' : 'calc(5vh / 4)'}"
             id="t-15">
            <label *ngIf="isExpanded && (semaineJours[2][i][1][6] == '15' || (semaineJours[2][i][1][6] == '00' && semaineJours[2][i][1][5] != '25')) " >    {{semaineJours[2][i][1][2]}}</label>
            <mat-menu style="cursor: pointer;text-align: center;" #menu="matMenu">
              <mat-label mat-menu-item>Type de séance : {{semaineJours[2][i][creneauIndex][2] || "Aucun type n'est associée"}}</mat-label>
              <mat-label mat-menu-item>Salle : {{semaineJours[2][i][creneauIndex][4] || "Aucune salle n'est associée"}}</mat-label>
              <mat-label  mat-menu-item>Matière : {{semaineJours[2][i][creneauIndex][1] || "Aucune matière n'est associée"}}</mat-label>
              <mat-label mat-menu-item>Durée : {{semaineJours[2][i][creneauIndex][5] == '25' ? '15m' : semaineJours[2][i][creneauIndex][5] == '50' ? '30m' : semaineJours[2][i][creneauIndex][5] == '75' ? '45m' : '60m'}}</mat-label>
              <mat-label  mat-menu-item>Commence à : {{semaineJours[2][i][creneauIndex][0]}}:{{semaineJours[2][i][creneauIndex][6]}}</mat-label>
              <button (click)="deleteItemFromCalendar(2,i)" class="deleteElement" mat-button>Supprimer l'element</button>
            </mat-menu>
          </div>
          <div (mouseenter)="creneauIndex = 2" [style]="{
            'background-color' : semaineJours[2][i][2][6] == '30' || (semaineJours[2][i][2][6] == '15' && semaineJours[2][i][2][5] != '25') || (semaineJours[2][i][2][6] == '00' && (semaineJours[2][i][2][5] != '25' && semaineJours[2][i][2][5] != '50')) ? getBackgroundColor(semaineJours[2][i][2][2]) :'transparent' ,
            'color':getTextColor(semaineJours[2][i][2][2]),
            'min-height': isExpanded ? '25%' : 'calc(5vh / 4)'}"
             id="t-30">
            <label *ngIf="isExpanded && (semaineJours[2][i][2][6] == '30' || (semaineJours[2][i][2][6] == '15' && semaineJours[2][i][2][5] != '25') || (semaineJours[2][i][2][6] == '00' && (semaineJours[2][i][2][5] != '25' && semaineJours[2][i][2][5] != '50')))" >    {{semaineJours[2][i][2][2]}}</label>
            <mat-menu style="cursor: pointer;text-align: center;" #menu="matMenu">
              <mat-label mat-menu-item>Type de séance : {{semaineJours[2][i][creneauIndex][2] || "Aucun type n'est associée"}}</mat-label>
              <mat-label mat-menu-item>Salle : {{semaineJours[2][i][creneauIndex][4] || "Aucune salle n'est associée"}}</mat-label>
              <mat-label  mat-menu-item>Matière : {{semaineJours[2][i][creneauIndex][1] || "Aucune matière n'est associée"}}</mat-label>
              <mat-label mat-menu-item>Durée : {{semaineJours[2][i][creneauIndex][5] == '25' ? '15m' : semaineJours[2][i][creneauIndex][5] == '50' ? '30m' : semaineJours[2][i][creneauIndex][5] == '75' ? '45m' : '60m'}}</mat-label>
              <mat-label  mat-menu-item>Commence à : {{semaineJours[2][i][creneauIndex][0]}}:{{semaineJours[2][i][creneauIndex][6]}}</mat-label>
              <button (click)="deleteItemFromCalendar(2,i)" class="deleteElement" mat-button>Supprimer l'element</button>
            </mat-menu>
          </div>
          <div (mouseenter)="creneauIndex = 3" [style]="{
            'background-color' : (semaineJours[2][i][3][6] == '30' && semaineJours[2][i][3][5] != '25' ) ||  semaineJours[2][i][3][6] == '45' || semaineJours[2][i][3][5] == '100' ||  (semaineJours[2][i][3][6] == '15' && (semaineJours[2][i][3][5] == '75' || semaineJours[2][i][3][5] == '100')) || (semaineJours[2][i][3][6] == '00' && semaineJours[2][i][3][5] == '100') ? getBackgroundColor(semaineJours[2][i][3][2]) :'transparent' ,
            'color':getTextColor(semaineJours[2][i][3][2]),
            'min-height': isExpanded ? '25%' : 'calc(5vh / 4)'}"
             id="t-45">
            <label *ngIf="isExpanded && ((semaineJours[2][i][3][6] == '30' && semaineJours[2][i][3][5] != '25' ) ||  semaineJours[2][i][3][6] == '45' || semaineJours[2][i][3][5] == '100' ||  (semaineJours[2][i][3][6] == '15' && (semaineJours[2][i][3][5] == '75' || semaineJours[2][i][3][5] == '100')) || (semaineJours[2][i][3][6] == '00' && semaineJours[2][i][3][5] == '100'))" >    {{semaineJours[2][i][3][2]}}</label>
            <mat-menu style="cursor: pointer;text-align: center;" #menu="matMenu">
              <mat-label mat-menu-item>Type de séance : {{semaineJours[2][i][creneauIndex][2] || "Aucun type n'est associée"}}</mat-label>
              <mat-label mat-menu-item>Salle : {{semaineJours[2][i][creneauIndex][4] || "Aucune salle n'est associée"}}</mat-label>
              <mat-label  mat-menu-item>Matière : {{semaineJours[2][i][creneauIndex][1] || "Aucune matière n'est associée"}}</mat-label>
              <mat-label mat-menu-item>Durée : {{semaineJours[2][i][creneauIndex][5] == '25' ? '15m' : semaineJours[2][i][creneauIndex][5] == '50' ? '30m' : semaineJours[2][i][creneauIndex][5] == '75' ? '45m' : '60m'}}</mat-label>
              <mat-label  mat-menu-item>Commence à : {{semaineJours[2][i][creneauIndex][0]}}:{{semaineJours[2][i][creneauIndex][6]}}</mat-label>
              <button (click)="deleteItemFromCalendar(2,i)" class="deleteElement" mat-button>Supprimer l'element</button>
            </mat-menu>
          </div>

</div>

<div [style]="{'max-height': isExpanded ? '15vh' : '5vh','height': isExpanded ? '15vh' : '5vh'}" [matMenuTriggerFor]="menu" class="rowDaysWrp"
  *ngIf="i < creneaux.length && semaineJours[3][i][0][3] == column && ((isExpanded == false)  ||  semaineJours[0][i][0][5] != '' || semaineJours[3][i][1][5] != '' || semaineJours[3][i][2][5] != '' || semaineJours[3][i][3][5] != '' )">

  <div (mouseenter)="creneauIndex = 0"
  [style]="{'background-color' : (semaineJours[3][i][0][6] == '00') ? getBackgroundColor(semaineJours[3][i][0][2]) :'transparent' ,
  'color':getTextColor(semaineJours[3][i][0][2]),
  'min-height': isExpanded ? '25%' : 'calc(5vh / 4)'}"
  id="t-00">
        <label *ngIf="isExpanded && (semaineJours[3][i][0][6] == '00')">    {{semaineJours[3][i][0][2]}}</label>
        <mat-menu style="cursor: pointer;text-align: center;" #menu="matMenu">
          <mat-label mat-menu-item>Type de séance : {{semaineJours[3][i][creneauIndex][2] || "Aucun type n'est associée"}}</mat-label>
          <mat-label mat-menu-item>Salle : {{semaineJours[3][i][creneauIndex][4] || "Aucune salle n'est associée"}}</mat-label>
          <mat-label  mat-menu-item>Matière : {{semaineJours[3][i][creneauIndex][1] || "Aucune matière n'est associée"}}</mat-label>
          <mat-label mat-menu-item>Durée : {{semaineJours[3][i][creneauIndex][5] == '25' ? '15m' : semaineJours[3][i][creneauIndex][5] == '50' ? '30m' : semaineJours[3][i][creneauIndex][5] == '75' ? '45m' : '60m'}}</mat-label>
          <mat-label  mat-menu-item>Commence à : {{semaineJours[3][i][creneauIndex][0]}}:{{semaineJours[3][i][creneauIndex][6]}}</mat-label>
          <button (click)="deleteItemFromCalendar(3,i)" class="deleteElement" mat-button>Supprimer l'element</button>
        </mat-menu>
      </div>
      <div (mouseenter)="creneauIndex = 1" [style]="{
        'background-color' : semaineJours[3][i][1][6] == '15' || (semaineJours[3][i][1][6] == '00' && semaineJours[3][i][1][5] != '25')  ? getBackgroundColor(semaineJours[3][i][1][2]) :'transparent' ,
        'color':getTextColor(semaineJours[3][i][1][2]),
        'min-height': isExpanded ? '25%' : 'calc(5vh / 4)'}"
         id="t-15">
        <label *ngIf="isExpanded && (semaineJours[3][i][1][6] == '15' || (semaineJours[3][i][1][6] == '00' && semaineJours[3][i][1][5] != '25'))" >    {{semaineJours[3][i][1][2]}}</label>
        <mat-menu style="cursor: pointer;text-align: center;" #menu="matMenu">
          <mat-label mat-menu-item>Type de séance : {{semaineJours[3][i][creneauIndex][2] || "Aucun type n'est associée"}}</mat-label>
          <mat-label mat-menu-item>Salle : {{semaineJours[3][i][creneauIndex][4] || "Aucune salle n'est associée"}}</mat-label>
          <mat-label  mat-menu-item>Matière : {{semaineJours[3][i][creneauIndex][1] || "Aucune matière n'est associée"}}</mat-label>
          <mat-label mat-menu-item>Durée : {{semaineJours[3][i][creneauIndex][5] == '25' ? '15m' : semaineJours[3][i][creneauIndex][5] == '50' ? '30m' : semaineJours[3][i][creneauIndex][5] == '75' ? '45m' : '60m'}}</mat-label>
          <mat-label  mat-menu-item>Commence à : {{semaineJours[3][i][creneauIndex][0]}}:{{semaineJours[3][i][creneauIndex][6]}}</mat-label>
          <button (click)="deleteItemFromCalendar(3,i)" class="deleteElement" mat-button>Supprimer l'element</button>
        </mat-menu>
      </div>
      <div (mouseenter)="creneauIndex = 2" [style]="{
        'background-color' : semaineJours[3][i][2][6] == '30' || (semaineJours[3][i][2][6] == '15' && semaineJours[3][i][2][5] != '25') || (semaineJours[3][i][2][6] == '00' && (semaineJours[3][i][2][5] != '25' && semaineJours[3][i][2][5] != '50'))  ? getBackgroundColor(semaineJours[3][i][2][2]) : 'transparent' ,
        'color':getTextColor(semaineJours[3][i][2][2]),
        'min-height': isExpanded ? '25%' : 'calc(5vh / 4)'}"
         id="t-30">
        <label *ngIf=" isExpanded && (semaineJours[3][i][2][6] == '30' || (semaineJours[3][i][2][6] == '15' && semaineJours[3][i][2][5] != '25') || (semaineJours[3][i][2][6] == '00' && (semaineJours[3][i][2][5] != '25' && semaineJours[3][i][2][5] != '50')))" >    {{semaineJours[3][i][2][2]}}</label>
        <mat-menu style="cursor: pointer;text-align: center;" #menu="matMenu">
          <mat-label mat-menu-item>Type de séance : {{semaineJours[3][i][creneauIndex][2] || "Aucun type n'est associée"}}</mat-label>
          <mat-label mat-menu-item>Salle : {{semaineJours[3][i][creneauIndex][4] || "Aucune salle n'est associée"}}</mat-label>
          <mat-label  mat-menu-item>Matière : {{semaineJours[3][i][creneauIndex][1] || "Aucune matière n'est associée"}}</mat-label>
          <mat-label mat-menu-item>Durée : {{semaineJours[3][i][creneauIndex][5] == '25' ? '15m' : semaineJours[3][i][creneauIndex][5] == '50' ? '30m' : semaineJours[3][i][creneauIndex][5] == '75' ? '45m' : '60m'}}</mat-label>
          <mat-label  mat-menu-item>Commence à : {{semaineJours[3][i][creneauIndex][0]}}:{{semaineJours[3][i][creneauIndex][6]}}</mat-label>
          <button (click)="deleteItemFromCalendar(3,i)" class="deleteElement" mat-button>Supprimer l'element</button>
        </mat-menu>
      </div>
      <div (mouseenter)="creneauIndex = 3" [style]="{
        'background-color' : (semaineJours[3][i][3][6] == '30' && semaineJours[3][i][3][5] != '25' ) ||  semaineJours[3][i][3][6] == '45' || semaineJours[3][i][3][5] == '100' ||  (semaineJours[3][i][3][6] == '15' && (semaineJours[3][i][3][5] == '75' || semaineJours[3][i][3][5] == '100')) || (semaineJours[3][i][3][6] == '00' && semaineJours[3][i][3][5] == '100') ? getBackgroundColor(semaineJours[3][i][3][2]) : 'transparent' ,
        'color':getTextColor(semaineJours[3][i][3][2]),
        'min-height': isExpanded ? '25%' : 'calc(5vh / 4)'}"
         id="t-45">
        <label *ngIf="isExpanded && ((semaineJours[3][i][3][6] == '30' && semaineJours[3][i][3][5] != '25' ) ||  semaineJours[3][i][3][6] == '45' || semaineJours[3][i][3][5] == '100' ||  (semaineJours[3][i][3][6] == '15' && (semaineJours[3][i][3][5] == '75' || semaineJours[3][i][3][5] == '100')) || (semaineJours[3][i][3][6] == '00' && semaineJours[3][i][3][5] == '100'))" >    {{semaineJours[3][i][3][2]}}</label>
        <mat-menu style="cursor: pointer;text-align: center;" #menu="matMenu">
          <mat-label mat-menu-item>Type de séance : {{semaineJours[3][i][creneauIndex][2] || "Aucun type n'est associée"}}</mat-label>
          <mat-label mat-menu-item>Salle : {{semaineJours[3][i][creneauIndex][4] || "Aucune salle n'est associée"}}</mat-label>
          <mat-label  mat-menu-item>Matière : {{semaineJours[3][i][creneauIndex][1] || "Aucune matière n'est associée"}}</mat-label>
          <mat-label mat-menu-item>Durée : {{semaineJours[3][i][creneauIndex][5] == '25' ? '15m' : semaineJours[3][i][creneauIndex][5] == '50' ? '30m' : semaineJours[3][i][creneauIndex][5] == '75' ? '45m' : '60m'}}</mat-label>
          <mat-label  mat-menu-item>Commence à : {{semaineJours[3][i][creneauIndex][0]}}:{{semaineJours[3][i][creneauIndex][6]}}</mat-label>
          <button (click)="deleteItemFromCalendar(3,i)" class="deleteElement" mat-button>Supprimer l'element</button>
        </mat-menu>
      </div>
    </div>

    <div [style]="{'max-height': isExpanded ? '15vh' : '5vh','height': isExpanded ? '15vh' : '5vh'}" [matMenuTriggerFor]="menu" class="rowDaysWrp"
     *ngIf="i < creneaux.length && semaineJours[4][i][0][3] == column  && ((isExpanded == false)  ||  semaineJours[4][i][0][5] != '' || semaineJours[4][i][1][5] != '' || semaineJours[4][i][2][5] != '' || semaineJours[4][i][3][5] != '' )">

      <div  (mouseenter)="creneauIndex = 0" [style]="{
        'background-color' : (semaineJours[4][i][0][6] == '00') ? getBackgroundColor(semaineJours[4][i][0][2]) : 'transparent' ,
        'color':getTextColor(semaineJours[4][i][0][2]),
        'min-height': isExpanded ? '25%' : 'calc(5vh / 4)'}"
       id="t-00">
            <label *ngIf="isExpanded && (semaineJours[4][i][0][6] == '00')" >    {{semaineJours[4][i][0][2]}}</label>
            <mat-menu style="cursor: pointer;text-align: center;" #menu="matMenu">
              <mat-label mat-menu-item>Type de séance : {{semaineJours[4][i][creneauIndex][2] || "Aucun type n'est associée"}}</mat-label>
              <mat-label mat-menu-item>Salle : {{semaineJours[4][i][creneauIndex][4] || "Aucune salle n'est associée"}}</mat-label>
              <mat-label  mat-menu-item>Matière : {{semaineJours[4][i][creneauIndex][1] || "Aucune matière n'est associée"}}</mat-label>
              <mat-label mat-menu-item>Durée : {{semaineJours[4][i][creneauIndex][5] == '25' ? '15m' : semaineJours[4][i][creneauIndex][5] == '50' ? '30m' : semaineJours[4][i][creneauIndex][5] == '75' ? '45m' : '60m'}}</mat-label>
              <mat-label  mat-menu-item>Commence à : {{semaineJours[4][i][creneauIndex][0]}}:{{semaineJours[4][i][creneauIndex][6]}}</mat-label>
              <button (click)="deleteItemFromCalendar(4,i)" class="deleteElement" mat-button>Supprimer l'element</button>
            </mat-menu>
          </div>
          <div (mouseenter)="creneauIndex = 1" [style]="{
            'background-color' : semaineJours[4][i][1][6] == '15' || (semaineJours[4][i][1][6] == '00' && semaineJours[4][i][1][5] != '25')  ? getBackgroundColor(semaineJours[4][i][1][2]) : 'transparent' ,
            'color':getTextColor(semaineJours[4][i][1][2]),
            'min-height': isExpanded ? '25%' : 'calc(5vh / 4)'}"
             id="t-15">
            <label *ngIf="isExpanded && (semaineJours[4][i][1][6] == '15' || (semaineJours[4][i][1][6] == '00' && semaineJours[4][i][1][5] != '25')) " >    {{semaineJours[4][i][1][2]}}</label>
            <mat-menu style="cursor: pointer;text-align: center;" #menu="matMenu">
              <mat-label mat-menu-item>Type de séance : {{semaineJours[4][i][creneauIndex][2] || "Aucun type n'est associée"}}</mat-label>
              <mat-label mat-menu-item>Salle : {{semaineJours[4][i][creneauIndex][4] || "Aucune salle n'est associée"}}</mat-label>
              <mat-label  mat-menu-item>Matière : {{semaineJours[4][i][creneauIndex][1] || "Aucune matière n'est associée"}}</mat-label>
              <mat-label mat-menu-item>Durée : {{semaineJours[4][i][creneauIndex][5] == '25' ? '15m' : semaineJours[4][i][creneauIndex][5] == '50' ? '30m' : semaineJours[4][i][creneauIndex][5] == '75' ? '45m' : '60m'}}</mat-label>
              <mat-label  mat-menu-item>Commence à : {{semaineJours[4][i][creneauIndex][0]}}:{{semaineJours[4][i][creneauIndex][6]}}</mat-label>
              <button (click)="deleteItemFromCalendar(4,i)" class="deleteElement" mat-button>Supprimer l'element</button>
            </mat-menu>
          </div>
          <div (mouseenter)="creneauIndex = 2" [style]="{
            'background-color' : semaineJours[4][i][2][6] == '30' || (semaineJours[4][i][2][6] == '15' && semaineJours[4][i][2][5] != '25') || (semaineJours[4][i][2][6] == '00' && (semaineJours[4][i][2][5] != '25' && semaineJours[4][i][2][5] != '50'))  ? getBackgroundColor(semaineJours[4][i][2][2]) :'transparent' ,
            'color':getTextColor(semaineJours[4][i][2][2]),
            'min-height': isExpanded ? '25%' : 'calc(5vh / 4)'}"
             id="t-30">
            <label *ngIf="isExpanded && (semaineJours[4][i][2][6] == '30' || (semaineJours[4][i][2][6] == '15' && semaineJours[4][i][2][5] != '25') || (semaineJours[4][i][2][6] == '00' && (semaineJours[4][i][2][5] != '25' && semaineJours[4][i][2][5] != '50')))" >    {{semaineJours[4][i][2][2]}}</label>
            <mat-menu style="cursor: pointer;text-align: center;" #menu="matMenu">
              <mat-label mat-menu-item>Type de séance : {{semaineJours[4][i][creneauIndex][2] || "Aucun type n'est associée"}}</mat-label>
              <mat-label mat-menu-item>Salle : {{semaineJours[4][i][creneauIndex][4] || "Aucune salle n'est associée"}}</mat-label>
              <mat-label  mat-menu-item>Matière : {{semaineJours[4][i][creneauIndex][1] || "Aucune matière n'est associée"}}</mat-label>
              <mat-label mat-menu-item>Durée : {{semaineJours[4][i][creneauIndex][5] == '25' ? '15m' : semaineJours[4][i][creneauIndex][5] == '50' ? '30m' : semaineJours[4][i][creneauIndex][5] == '75' ? '45m' : '60m'}}</mat-label>
              <mat-label  mat-menu-item>Commence à : {{semaineJours[4][i][creneauIndex][0]}}:{{semaineJours[4][i][creneauIndex][6]}}</mat-label>
              <button (click)="deleteItemFromCalendar(4,i)" class="deleteElement" mat-button>Supprimer l'element</button>
            </mat-menu>
          </div>
          <div (mouseenter)="creneauIndex = 3" [style]="{
            'background-color' : (semaineJours[4][i][3][6] == '30' && semaineJours[4][i][3][5] != '25' ) ||  semaineJours[4][i][3][6] == '45' || semaineJours[4][i][3][5] == '100' ||  (semaineJours[4][i][3][6] == '15' && (semaineJours[4][i][3][5] == '75' || semaineJours[4][i][3][5] == '100')) || (semaineJours[4][i][3][6] == '00' && semaineJours[4][i][3][5] == '100') ? getBackgroundColor(semaineJours[4][i][3][2]) : 'transparent' ,
            'color':getTextColor(semaineJours[4][i][3][2]),
            'min-height': isExpanded ? '25%' : 'calc(5vh / 4)'}"
             id="t-45">
            <label *ngIf="isExpanded && ((semaineJours[4][i][3][6] == '30' && semaineJours[4][i][3][5] != '25' ) ||  semaineJours[4][i][3][6] == '45' || semaineJours[4][i][3][5] == '100' ||  (semaineJours[4][i][3][6] == '15' && (semaineJours[4][i][3][5] == '75' || semaineJours[4][i][3][5] == '100')) || (semaineJours[4][i][3][6] == '00' && semaineJours[4][i][3][5] == '100'))" >    {{semaineJours[4][i][3][2]}}</label>
            <mat-menu style="cursor: pointer;text-align: center;" #menu="matMenu">
              <mat-label mat-menu-item>Type de séance : {{semaineJours[4][i][creneauIndex][2] || "Aucun type n'est associée"}}</mat-label>
              <mat-label mat-menu-item>Salle : {{semaineJours[4][i][creneauIndex][4] || "Aucune salle n'est associée"}}</mat-label>
              <mat-label  mat-menu-item>Matière : {{semaineJours[4][i][creneauIndex][1] || "Aucune matière n'est associée"}}</mat-label>
              <mat-label mat-menu-item>Durée : {{semaineJours[4][i][creneauIndex][5] == '25' ? '15m' : semaineJours[4][i][creneauIndex][5] == '50' ? '30m' : semaineJours[4][i][creneauIndex][5] == '75' ? '45m' : '60m'}}</mat-label>
              <mat-label  mat-menu-item>Commence à : {{semaineJours[4][i][creneauIndex][0]}}:{{semaineJours[4][i][creneauIndex][6]}}</mat-label>
              <button (click)="deleteItemFromCalendar(4,i)" class="deleteElement" mat-button>Supprimer l'element</button>
            </mat-menu>
          </div>

        </div>

    <div [style]="{'max-height': isExpanded ? '15vh' : '5vh','height': isExpanded ? '15vh' : '5vh'}"  [matMenuTriggerFor]="menu"  class="rowDaysWrp"
*ngIf="i < creneaux.length && semaineJours[5][i][0][3] == column  && ((isExpanded == false)  ||  semaineJours[5][i][0][5] != '' || semaineJours[5][i][1][5] != '' || semaineJours[5][i][2][5] != '' || semaineJours[5][i][3][5] != '' )">

      <div (mouseenter)="creneauIndex = 0" [style]="{
        'background-color' : (semaineJours[5][i][0][6] == '00') ? getBackgroundColor(semaineJours[5][i][0][2]) : 'transparent' ,
        'color':getTextColor(semaineJours[5][i][0][2]),
        'min-height': isExpanded ? '25%' : 'calc(5vh / 4)'}"
        id="t-00">
            <label *ngIf="isExpanded && (semaineJours[5][i][0][6] == '00')" >    {{semaineJours[5][i][0][2]}}</label>
            <mat-menu style="cursor: pointer;text-align: center;" #menu="matMenu">
              <mat-label mat-menu-item>Type de séance : {{semaineJours[5][i][creneauIndex][2] || "Aucun type n'est associée"}}</mat-label>
              <mat-label mat-menu-item>Salle : {{semaineJours[5][i][creneauIndex][4] || "Aucune salle n'est associée"}}</mat-label>
              <mat-label  mat-menu-item>Matière : {{semaineJours[5][i][creneauIndex][1] || "Aucune matière n'est associée"}}</mat-label>
              <mat-label mat-menu-item>Durée : {{semaineJours[5][i][creneauIndex][5] == '25' ? '15m' : semaineJours[5][i][creneauIndex][5] == '50' ? '30m' : semaineJours[5][i][creneauIndex][5] == '75' ? '45m' : '60m'}}</mat-label>
              <mat-label  mat-menu-item>Commence à : {{semaineJours[5][i][creneauIndex][0]}}:{{semaineJours[5][i][creneauIndex][6]}}</mat-label>
              <button (click)="deleteItemFromCalendar(5,i)" class="deleteElement" mat-button>Supprimer l'element</button>
            </mat-menu>
          </div>
          <div (mouseenter)="creneauIndex = 1" [style]="{
            'background-color' : semaineJours[5][i][1][6] == '15' || (semaineJours[5][i][1][6] == '00' && semaineJours[5][i][1][5] != '25')  ? getBackgroundColor(semaineJours[5][i][1][2]) : 'transparent' ,
            'color':getTextColor(semaineJours[5][i][1][2]),
            'min-height': isExpanded ? '25%' : 'calc(5vh / 4)'}"
             id="t-15">
            <label *ngIf="isExpanded && (semaineJours[5][i][1][6] == '15' || (semaineJours[5][i][1][6] == '00' && semaineJours[5][i][1][5] != '25'))" >    {{semaineJours[5][i][1][2]}}</label>
            <mat-menu style="cursor: pointer;text-align: center;" #menu="matMenu">
              <mat-label mat-menu-item>Type de séance : {{semaineJours[5][i][creneauIndex][2] || "Aucun type n'est associée"}}</mat-label>
              <mat-label mat-menu-item>Salle : {{semaineJours[5][i][creneauIndex][4] || "Aucune salle n'est associée"}}</mat-label>
              <mat-label  mat-menu-item>Matière : {{semaineJours[5][i][creneauIndex][1] || "Aucune matière n'est associée"}}</mat-label>
              <mat-label mat-menu-item>Durée : {{semaineJours[5][i][creneauIndex][5] == '25' ? '15m' : semaineJours[5][i][creneauIndex][5] == '50' ? '30m' : semaineJours[5][i][creneauIndex][5] == '75' ? '45m' : '60m'}}</mat-label>
              <mat-label  mat-menu-item>Commence à : {{semaineJours[5][i][creneauIndex][0]}}:{{semaineJours[5][i][creneauIndex][6]}}</mat-label>
              <button (click)="deleteItemFromCalendar(5,i)" class="deleteElement" mat-button>Supprimer l'element</button>
            </mat-menu>
          </div>
          <div (mouseenter)="creneauIndex = 2" [style]="{
            'background-color' : semaineJours[5][i][2][6] == '30' || (semaineJours[5][i][2][6] == '15' && semaineJours[5][i][2][5] != '25') || (semaineJours[5][i][2][6] == '00' && (semaineJours[5][i][2][5] != '25' && semaineJours[5][i][2][5] != '50'))  ? getBackgroundColor(semaineJours[5][i][2][2]) : 'transparent',
            'color':getTextColor(semaineJours[5][i][2][2]),
            'min-height': isExpanded ? '25%' : 'calc(5vh / 4)'}"
             id="t-30">
            <label *ngIf="isExpanded && (semaineJours[5][i][2][6] == '30' || (semaineJours[5][i][2][6] == '15' && semaineJours[5][i][2][5] != '25') || (semaineJours[5][i][2][6] == '00' && (semaineJours[5][i][2][5] != '25' && semaineJours[5][i][2][5] != '50')) )" >    {{semaineJours[5][i][2][2]}}</label>
            <mat-menu style="cursor: pointer;text-align: center;" #menu="matMenu">
              <mat-label mat-menu-item>Type de séance : {{semaineJours[5][i][creneauIndex][2] || "Aucun type n'est associée"}}</mat-label>
              <mat-label mat-menu-item>Salle : {{semaineJours[5][i][creneauIndex][4] || "Aucune salle n'est associée"}}</mat-label>
              <mat-label  mat-menu-item>Matière : {{semaineJours[5][i][creneauIndex][1] || "Aucune matière n'est associée"}}</mat-label>
              <mat-label mat-menu-item>Durée : {{semaineJours[5][i][creneauIndex][5] == '25' ? '15m' : semaineJours[5][i][creneauIndex][5] == '50' ? '30m' : semaineJours[5][i][creneauIndex][5] == '75' ? '45m' : '60m'}}</mat-label>
              <mat-label  mat-menu-item>Commence à : {{semaineJours[5][i][creneauIndex][0]}}:{{semaineJours[5][i][creneauIndex][6]}}</mat-label>
              <button (click)="deleteItemFromCalendar(5,i)" class="deleteElement" mat-button>Supprimer l'element</button>
            </mat-menu>
          </div>
          <div (mouseenter)="creneauIndex = 3" [style]="{
            'background-color' : (semaineJours[5][i][3][6] == '30' && semaineJours[5][i][3][5] != '25' ) ||  semaineJours[5][i][3][6] == '45' || semaineJours[5][i][3][5] == '100' ||  (semaineJours[5][i][3][6] == '15' && (semaineJours[5][i][3][5] == '75' || semaineJours[5][i][3][5] == '100')) || (semaineJours[5][i][3][6] == '00' && semaineJours[5][i][3][5] == '100') ? getBackgroundColor(semaineJours[5][i][3][2]) : 'transparent' ,
            'color':getTextColor(semaineJours[5][i][3][2]),
            'min-height': isExpanded ? '25%' : 'calc(5vh / 4)'}"
             id="t-45">
            <label *ngIf="isExpanded && ((semaineJours[5][i][3][6] == '30' && semaineJours[5][i][3][5] != '25' ) ||  semaineJours[5][i][3][6] == '45' || semaineJours[5][i][3][5] == '100' ||  (semaineJours[5][i][3][6] == '15' && (semaineJours[5][i][3][5] == '75' || semaineJours[5][i][3][5] == '100')) || (semaineJours[5][i][3][6] == '00' && semaineJours[5][i][3][5] == '100'))" >    {{semaineJours[5][i][3][2]}}</label>
            <mat-menu style="cursor: pointer;text-align: center;" #menu="matMenu">
              <mat-label mat-menu-item>Type de séance : {{semaineJours[5][i][creneauIndex][2] || "Aucun type n'est associée"}}</mat-label>
              <mat-label mat-menu-item>Salle : {{semaineJours[5][i][creneauIndex][4] || "Aucune salle n'est associée"}}</mat-label>
              <mat-label  mat-menu-item>Matière : {{semaineJours[5][i][creneauIndex][1] || "Aucune matière n'est associée"}}</mat-label>
              <mat-label mat-menu-item>Durée : {{semaineJours[5][i][creneauIndex][5] == '25' ? '15m' : semaineJours[5][i][creneauIndex][5] == '50' ? '30m' : semaineJours[5][i][creneauIndex][5] == '75' ? '45m' : '60m'}}</mat-label>
              <mat-label  mat-menu-item>Commence à : {{semaineJours[5][i][creneauIndex][0]}}:{{semaineJours[5][i][creneauIndex][6]}}</mat-label>
              <button (click)="deleteItemFromCalendar(5,i)" class="deleteElement" mat-button>Supprimer l'element</button>
            </mat-menu>
          </div>
    </div>
      <div [style]="{'max-height': isExpanded ? '15vh' : '5vh','height': isExpanded ? '15vh' : '5vh'}" [matMenuTriggerFor]="menu" class="rowDaysWrp"
      *ngIf="i < creneaux.length && semaineJours[6][i][0][3] == column  && ((isExpanded == false)  ||  semaineJours[6][i][0][5] != '' || semaineJours[6][i][1][5] != '' || semaineJours[6][i][2][5] != '' || semaineJours[6][i][3][5] != '')">

        <div (mouseenter)="creneauIndex = 0" [style]="{
          'background-color' : (semaineJours[6][i][0][6] == '00') ? getBackgroundColor(semaineJours[6][i][0][2]) : 'transparent' ,
          'color':getTextColor(semaineJours[6][i][0][2]),
          'min-height': isExpanded ? '25%' : 'calc(5vh / 4)'}"
 id="t-00">
              <label *ngIf="isExpanded && (semaineJours[6][i][0][6] == '00')" >    {{semaineJours[6][i][0][2]}}</label>

        <mat-menu style="cursor: pointer;text-align: center;" #menu="matMenu">
          <mat-label mat-menu-item>Type de séance : {{semaineJours[6][i][creneauIndex][2] || "Aucun type n'est associée"}}</mat-label>
          <mat-label mat-menu-item>Salle : {{semaineJours[6][i][creneauIndex][4] || "Aucune salle n'est associée"}}</mat-label>
          <mat-label  mat-menu-item>Matière : {{semaineJours[6][i][creneauIndex][1] || "Aucune matière n'est associée"}}</mat-label>
          <mat-label mat-menu-item>Durée : {{semaineJours[6][i][creneauIndex][5] == '25' ? '15m' : semaineJours[6][i][creneauIndex][5] == '50' ? '30m' : semaineJours[6][i][creneauIndex][5] == '75' ? '45m' : '60m'}}</mat-label>
          <mat-label  mat-menu-item>Commence à : {{semaineJours[6][i][creneauIndex][0]}}:{{semaineJours[6][i][creneauIndex][6]}}</mat-label>
          <button (click)="deleteItemFromCalendar(6,i)" class="deleteElement" mat-button>Supprimer l'element</button>
        </mat-menu>
            </div>
            <div (mouseenter)="creneauIndex = 1" [style]="{
              'background-color' : semaineJours[6][i][1][6] == '15' || (semaineJours[6][i][1][6] == '00' && semaineJours[6][i][1][5] != '25') ? getBackgroundColor(semaineJours[6][i][1][2]) : 'transparent' ,
              'color':getTextColor(semaineJours[6][i][1][2]),
              'min-height': isExpanded ? '25%' : 'calc(5vh / 4)'}"
               id="t-15">
              <label *ngIf="isExpanded && (semaineJours[6][i][1][6] == '15' || (semaineJours[6][i][1][6] == '00' && semaineJours[6][i][1][5] != '25'))" >    {{semaineJours[6][i][1][2]}}</label>

        <mat-menu style="cursor: pointer;text-align: center;" #menu="matMenu">
          <mat-label mat-menu-item>Type de séance : {{semaineJours[6][i][creneauIndex][2] || "Aucun type n'est associée"}}</mat-label>
          <mat-label mat-menu-item>Salle : {{semaineJours[6][i][creneauIndex][4] || "Aucune salle n'est associée"}}</mat-label>
          <mat-label  mat-menu-item>Matière : {{semaineJours[6][i][creneauIndex][1] || "Aucune matière n'est associée"}}</mat-label>
          <mat-label mat-menu-item>Durée : {{semaineJours[6][i][creneauIndex][5] == '25' ? '15m' : semaineJours[6][i][creneauIndex][5] == '50' ? '30m' : semaineJours[6][i][creneauIndex][5] == '75' ? '45m' : '60m'}}</mat-label>
          <mat-label  mat-menu-item>Commence à : {{semaineJours[6][i][creneauIndex][0]}}:{{semaineJours[6][i][creneauIndex][6]}}</mat-label>
          <button (click)="deleteItemFromCalendar(6,i)" class="deleteElement" mat-button>Supprimer l'element</button>
        </mat-menu>
            </div>
            <div (mouseenter)="creneauIndex = 2" [style]="{
              'background-color' : semaineJours[6][i][2][6] == '30' || (semaineJours[6][i][2][6] == '15' && semaineJours[6][i][2][5] != '25') || (semaineJours[6][i][2][6] == '00' && (semaineJours[6][i][2][5] != '25' && semaineJours[6][i][2][5] != '50'))  ? getBackgroundColor(semaineJours[6][i][2][2]) : 'transparent' ,
              'color':getTextColor(semaineJours[6][i][2][2]),
              'min-height': isExpanded ? '25%' : 'calc(5vh / 4)'}"

               id="t-30">
              <label *ngIf="isExpanded && (semaineJours[6][i][2][6] == '30' || (semaineJours[6][i][2][6] == '15' && semaineJours[6][i][2][5] != '25') || (semaineJours[6][i][2][6] == '00' && (semaineJours[6][i][2][5] != '25' && semaineJours[6][i][2][5] != '50'))  )" >    {{semaineJours[6][i][2][2]}}</label>

        <mat-menu style="cursor: pointer;text-align: center;" #menu="matMenu">
          <mat-label mat-menu-item>Type de séance : {{semaineJours[6][i][creneauIndex][2] || "Aucun type n'est associée"}}</mat-label>
          <mat-label mat-menu-item>Salle : {{semaineJours[6][i][creneauIndex][4] || "Aucune salle n'est associée"}}</mat-label>
          <mat-label  mat-menu-item>Matière : {{semaineJours[6][i][creneauIndex][1] || "Aucune matière n'est associée"}}</mat-label>
          <mat-label mat-menu-item>Durée : {{semaineJours[6][i][creneauIndex][5] == '25' ? '15m' : semaineJours[6][i][creneauIndex][5] == '50' ? '30m' : semaineJours[6][i][creneauIndex][5] == '75' ? '45m' : '60m'}}</mat-label>
          <mat-label  mat-menu-item>Commence à : {{semaineJours[6][i][creneauIndex][0]}}:{{semaineJours[6][i][creneauIndex][6]}}</mat-label>
          <button (click)="deleteItemFromCalendar(6,i)" class="deleteElement" mat-button>Supprimer l'element</button>
        </mat-menu>
            </div>
            <div (mouseenter)="creneauIndex = 3" [style]="{
              'background-color' : (semaineJours[6][i][3][6] == '30' && semaineJours[6][i][3][5] != '25' ) ||  semaineJours[6][i][3][6] == '45' || semaineJours[6][i][3][5] == '100' ||  (semaineJours[6][i][3][6] == '15' && (semaineJours[6][i][3][5] == '75' || semaineJours[6][i][3][5] == '100')) || (semaineJours[6][i][3][6] == '00' && semaineJours[6][i][3][5] == '100') ? getBackgroundColor(semaineJours[6][i][3][2]) : 'transparent' ,
              'color':getTextColor(semaineJours[6][i][3][2]),
              'min-height': isExpanded ? '25%' : 'calc(5vh / 4)'}"
               id="t-45">
              <label *ngIf="isExpanded && ((semaineJours[6][i][3][6] == '30' && semaineJours[6][i][3][5] != '25' ) ||  semaineJours[6][i][3][6] == '45' || semaineJours[6][i][3][5] == '100' ||  (semaineJours[6][i][3][6] == '15' && (semaineJours[6][i][3][5] == '75' || semaineJours[6][i][3][5] == '100')) || (semaineJours[6][i][3][6] == '00' && semaineJours[6][i][3][5] == '100'))" >    {{semaineJours[6][i][3][2]}}</label>

        <mat-menu style="cursor: pointer;text-align: center;" #menu="matMenu">
          <mat-label mat-menu-item>Type de séance : {{semaineJours[6][i][creneauIndex][2] || "Aucun type n'est associée"}}</mat-label>
          <mat-label mat-menu-item>Salle : {{semaineJours[6][i][creneauIndex][4] || "Aucune salle n'est associée"}}</mat-label>
          <mat-label  mat-menu-item>Matière : {{semaineJours[6][i][creneauIndex][1] || "Aucune matière n'est associée"}}</mat-label>
          <mat-label mat-menu-item>Durée : {{semaineJours[6][i][creneauIndex][5] == '25' ? '15m' : semaineJours[6][i][creneauIndex][5] == '50' ? '30m' : semaineJours[6][i][creneauIndex][5] == '75' ? '45m' : '60m'}}</mat-label>
          <mat-label  mat-menu-item>Commence à : {{semaineJours[6][i][creneauIndex][0]}}:{{semaineJours[6][i][creneauIndex][6]}}</mat-label>
          <button (click)="deleteItemFromCalendar(6,i)" class="deleteElement" mat-button>Supprimer l'element</button>
        </mat-menu>
            </div>
      </div>
    </td>
  </ng-container>
</div>

  <tr class="header-row" mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr class="row" mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
  </table>
  </div>

</div>


  </div>
</div>
