

#wrp {
  display: grid;
text-align: center;
gap: 15vh;
}

h2 {
  text-align: center;
}

#btn-wrp {
  width: 100%;
  margin: auto;
display: flex;
justify-content: center;
align-items: center;
height: 100%;
gap: 2vw;
}
button {
  background-color: var(--blue-them-color);
  color: var(--white-them-color);
width: 33%;
}
