

div {
    display: flex;
    background-color: var(--blue-them-color);
   height: 90vh;
   min-width: max-content;
border-radius: 10px;
justify-content: center;
align-content: center;
   // width : 90vw;
}


