

div {
    display: flex;
    background-color: var(--blue-them-color);
   height: 85vh;
   min-width: max-content;
border-radius: 25px;
justify-content: center;
align-content: center;
   // width : 90vw;
}


