div {
    display: flex;
    background-color: rgb(68, 108, 153);
   height: 85vh;
   width: 70vw;
margin:auto;
border-radius: 25px;
box-shadow: 3px 3px 10px black;
justify-content: flex-end;
   // width : 90vw;
}


