

#wrapper {
color: black;
width: 100%;
height: 100%;
text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-label {
  color: var(--blue-them-color);
text-align: center;
}

mat-form-field {
  width: 75%;
}

textarea {
  //resize: none; This doesn't work since i used matInput decorator. Needed to use it on [ngStyle]
  width: 30vw;
  height: 30vh;
}

input {

  width: 20vw;
}

button {
color: var(--white-them-color);
font-weight: bolder;
background-color: rgb(91, 171, 210);
cursor: pointer;
overflow: hidden;
}

#leave {
text-align: center;
  margin-right: 0;
  width: fit-content;
  height: fit-content;
  justify-self: right;
}
.file-input {
  display: none;
}

h1 {
  color: var(--blue-them-color);
}

#fileUpload {
  position: absolute;
  opacity: 0;
  width: 50px;
  height: 50px;
left: 0;
content: none;
cursor: pointer;
}

/*      <div *ngFor="let item of uploader!.queue;index as i">
        <div *ngIf="uploader?.queue?.length! > 0">
          <button  mat-button type="button" (click)="item.upload()">Upload</button>
          <button mat-button type="button" (click)="uploader!.removeFromQueue(item);filename = undefined">Retirer</button>
        </div>
      </div>*/

