<button id="leave" mat-button mat-dialog-close>
  <img width="20px" height="20px" src="../../../../../assets/images/x-lg.svg">
 </button>
<div id ="wrapper">
  <h1  mat-dialog-title >Ajouter une nouvelle publication</h1>
  <form class="addPublication" novalidate [formGroup]="publicationForm" (submit)="newPublication()">
  <mat-form-field class="post" [ngStyle]="{color:'var(--blue-them-color)'}" [floatLabel]="'always'" color="accent">
    <mat-label>Title</mat-label>
    <input formControlName="title" #title matInput>
    <mat-error>{{formErrors.email}}</mat-error>
    <button *ngIf="title.value" matSuffix mat-icon-button aria-label="Clear" (click)="title.value=''">
       <mat-icon style="font-size:140%;" >close</mat-icon>
     </button>
  </mat-form-field>


  {{filename || "No file uploaded yet."}}

<button style="cursor: pointer;" mat-mini-fab color="primary" class="upload-btn"

>   <mat-icon>attach_file</mat-icon>
<input
type="file"
id="fileUpload"
ng2FileSelect
accept=".pdf,.jpg,.png,.jpeg"
[uploader]="uploader!"
/>
</button>

      <div *ngFor="let item of uploader!.queue;index as i">
        <div *ngIf="uploader?.queue?.length! > 0">
          <button mat-button type="button" (click)="uploader!.removeFromQueue(item);filename = undefined">Retirer</button>
        </div>
      </div>







  <mat-form-field class="post" [ngStyle]="{color:'var(--blue-them-color)'}"  [floatLabel]="'always'">
         <mat-label>Content</mat-label>
    <textarea formControlName="content" [ngStyle]="{resize:'none'}"  #content matInput></textarea>
    <mat-error>{{formErrors.email}}</mat-error>
    <button *ngIf="content.value" matSuffix mat-icon-button aria-label="Clear" (click)="content.value=''">
       <mat-icon style="font-size:140%;" >close</mat-icon>
     </button>
  </mat-form-field>

<button type="submit" mat-button>
  Enregistrer
</button>
  </form>

  </div>
