

#rightWrp {

  display: flex;
  flex-direction: column;
  width: 100%;
 min-height: max-content;
 height: 75vh;
 margin-top: -2vh;
  #validateBtnWrp {
    width: 60vw;
    display: inline-flex;
    align-items: center;
    align-content: center;

    img {
      height: 5vh;
      align-self: center;
      margin: auto;
      transition: 350ms ease-in-out;
    }

    button {
      min-width: max-content;
      color: var(--white-them-color);
      background-color: var(--blue-them-color);
    }
  }
}

#planning-phone-wrp {
  display: none;
}

#borderTableWrp {
  border-radius: 10px 10px 10px 10px;
  width: 100%;
  min-width: max-content;

}


span {
  height: 5vh;
  margin: 0 auto auto auto;
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  column-gap: 1vw;
  color: var(--dblue-them-color);
transform: scale(0.8);
  img {
    transition: 200ms ease-in-out;
    margin-right: auto;

    &:hover {
      transform: scale(1.2);
      cursor: pointer;
    }
  }


}

h2 {
  font-size: 120%;
  margin-right: 3vw;
  margin-left: 3vw;

}

table {
  box-shadow: none;
}


th {
  width: max-content;
  text-align: center;
  color: var(--white-them-color);
  background-color: var(--blue-them-color);
  border: 1px solid var(--white-them-color);
border-bottom-width:2px ;
  font-weight: bold;

  &:first-of-type {
    border-radius: 10px 0 0 0;
  }

  &:last-of-type {
    border-radius: 0 10px 0 0;
  }
}


.header-row {
  height: 2.5vh;
font-size: 80%;

}

label {
  cursor: pointer;
}

// To change the height of the mat-form-field, increase the font size of children elements, and reduce font size of the container 'datePicker'
.datePicker {
  min-width: max-content;
  margin-top: -4vh;
  font-size: 3px;
  color: var(--dblue-them-color);
  margin-bottom: 2vh;
  mat-date-range-input {
    color: var(--dblue-them-color);
    font-size: 12px;
    margin: auto auto auto 0.5vw;
    justify-self: center;
  }
  mat-label {
    color: var(--dblue-them-color);

    margin-left: 7px;
    font-size: 500%;
  }

  input {
    max-height: 100%;
    opacity: 1;

    color: var(--dblue-them-color);
  }

  mat-datepicker-toggle {
    font-size: 80%;
    color: var(--dblue-them-color);
    margin: auto auto auto auto;
  }

  mat-hint {
    font-size: 10px;
  }
}




#t-00 {
  width: 100%;
  min-height: calc(13.5vh / 4);
  height: 25%;
  max-height:  max-content;
  cursor: pointer;

  &:hover {
    border: 1px solid rgb(77, 77, 77);
  }
}
#t-15 {
  width: 100%;
  min-height: calc(13.5vh / 4);
height: 25%;
  max-height:  max-content;

  &:hover {
    border: 1px solid rgb(77, 77, 77);
  }
}
#t-30 {
  cursor: pointer;
  width: 100%;
  min-height: calc(13.5vh / 4);
height: 25%;
  max-height:  max-content;

  &:hover {
    border: 1px solid rgb(77, 77, 77);
  }
}
#t-45 {
 cursor: pointer;
  width: 100%;
  min-height: calc(13.5vh / 4);
height: 25%;
  max-height: max-content;

  &:hover {
    border: 1px solid rgb(77, 77, 77);
  }
}

.rowDaysWrp {
  z-index: 3;
  height: 100%; // Very important // To change for expandable

div {
  label {
    font-size: 70%;
  }
}
  }

td {
  color: var(--white-them-color);
  text-align: center;
  min-width: fit-content;
border: 1px solid rgb(200, 215, 223);
border-top-width: 0;
border-right-width: 0;
border-bottom-width: 0 ;
width: 10%;
height: 4vh; // Required to trigger animation
  overflow: visible;
  cursor: pointer;
  background-color: rgb(212, 240, 253);
margin: 0;
  &:first-of-type {
    border-left: 0;
    font-size: 90%;
    background-color: var(--blue-them-color);
    font-weight: bold;
    width: 5%;
    min-width: max-content;
  }


label {
  display: none;
}
}


tr {
  transition: 200ms ease-in-out;
  &:hover {
    td {

        border-bottom-width: 1px;
        border-top-width: 1px;

    }
    label {
      display: initial;
    }
  }
  &.row {
    height: 4.5vh; // Statick height of rows (lines : 8h ; 9h ; 10h ... : 21h)
    max-height: 4.5vh;

    &:hover {
        height: 13.5vh;
        max-height: 13.5vh;
        #quartDheureList {
display: flex;
            }
    }
  }
}


#headerContentWrp {
  overflow: visible;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

#headerheure {
margin: auto;
  width:fit-content;
  height: fit-content;
  text-shadow:  0;
}

#quartDheureList {
  transition: 350ms ease-in-out;
  overflow: visible;
  list-style: none;
  font-size: 75%;
  flex-direction: column;
  width:fit-content;
  height: 100%;
  display: none;
align-content: space-around;
div {
  font-size: 90%;
  z-index: 3;
&:first-of-type {
  text-shadow: black -0px -1px 2px;
  margin-top: -1vh;
}
&:last-of-type {
  text-shadow: black -0px -1px 2px;
  margin-bottom: -3vh;
}
text-shadow: black -0px -1px 2px;
  height: 27%;
  align-self: center;
}

}

/* width */
::-webkit-scrollbar {
  width: 10px;

}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(199, 205, 207);
  border-radius: 5px 5px 5px 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--blue-them-color);
  border-radius: 5px 5px 5px 5px;

}


@media only screen and (max-width: 640px) {

  #planning-phone-wrp {
    display: flex;
    flex-direction: column;

    flex-wrap: nowrap;
    width: 100%;
    margin: auto;
    gap: 3vh;
    overflow-y: auto;
    overflow-x: hidden;
    align-items: flex-start;
    justify-content: space-around;
    transition: 350ms ease-in-out !important;

    #weekSmale {
      transition: 350ms ease-in-out !important;
      justify-self: center;
      align-self: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      gap: 2.5vh;
      font-family: Open Sans, sans-serif;
      text-align: center;
      min-width: 80%;
      max-width: 90%;
      width: fit-content;
      color: var(--dblue-them-color);
      border-radius: 7px;
      overflow: hidden;
      height: fit-content;
        #available {
          transition: 350ms ease-in-out !important;
          opacity: 0;
  background-color: white;
  width: 60vw;
  height: 0;
  overflow: hidden;
  border-radius: 7px;
        }


    }

    #whiteWrp {
      transition: 350ms ease-in-out !important;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 3vw;
      min-height: max-content;
      height: 100%;
      p {
        margin: 0;
      }
    }
    #weekLarge {
      transition: 350ms ease-in-out !important;
justify-self: center;
align-self: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      gap: 2.5vh;
      font-family: Open Sans, sans-serif;
      text-align: center;
      min-width: 80%;
      max-width: 90%;
      width: fit-content;
      color: var(--dblue-them-color);
      border-radius: 7px;
      height:100%;
           overflow: hidden;
      #available {
        display: flex;
        flex-direction: column;
        margin-top: 2.5vh;
        &:last-of-type {
          margin-bottom: 2.5vh;
        }
        transition: 350ms ease-in-out !important;
        opacity: 1;
background-color: white;
width: 60vw;
border-radius: 7px;
text-align: center;
align-items: center;
align-content: center;
justify-content: center;
height: 100%;
      }
    }
  }


#rightWrp{
height: max-content;
margin-top: 12vw;
gap: 2.5vh;

#validateBtnWrp {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  h2 {
    width: fit-content;
  }

  img {
    height: 12vw;
    align-self: center;
    margin: auto;
    transition: 350ms ease-in-out;
    &:first-of-type {
      width: fit-content;
    }
    &:last-of-type {
      width: fit-content;
    }
  }
}
}

.datePicker {
  min-width: max-content;
  font-size: 3px;
  color: var(--dblue-them-color);
  margin: 3vh auto 3vh auto;
  mat-date-range-input {
    color: var(--dblue-them-color);
    font-size: 12px;
    margin: auto auto auto 1vw;
    justify-self: center;
  }
  mat-label {
    color: var(--dblue-them-color);

    margin-left: 7px;
    font-size: 500%;
  }

  input {
    max-height: 100%;
    opacity: 1;

    color: var(--dblue-them-color);
  }

  mat-datepicker-toggle {
    font-size: 80%;
    color: var(--dblue-them-color);
    margin: auto auto auto auto;
  }

  mat-hint {
    font-size: 10px;
  }
}
table {
  display: none;
  }

}
