


    <div id="rightWrp">

      <div  id="validateBtnWrp">


          <img
            (click)="previousMonDay()"
            width="40vw"
            src="../../../../assets/images/arrow-left.svg"
            id="left"
          />
          <h2>Semaine du {{ week }}</h2>
          <img
            (click)="nextMonday()"
            width="40vw"
            src="../../../../assets/images/arrow-right.svg"
            id="right"
          />

        <mat-form-field class="datePicker" [floatLabel]="'always'">
          <mat-label>Choisissez une semaine</mat-label>
          <div style="display: flex">
            <mat-date-range-input
              [dateFilter]="rangeFilter"
              [rangePicker]="picker"
            >
              <input
                disabled
                #date
                (dateChange)="getSelectedDate(date.value); date.value = ''"
                matStartDate
                placeholder="{{ week }}"
              />
              <input
                (dateChange)="dateEnd.value = ''"
                #dateEnd
                disabled
                matEndDate
                placeholder="{{ week2 }}"
              />
            </mat-date-range-input>

            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-date-range-picker
              [disabled]="false"
              #picker
            ></mat-date-range-picker>
          </div>
          <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        </mat-form-field>
      </div>

      <div id="planning-phone-wrp">
        <div (click)="tr();selectedIndex == i ? selectedIndex = undefined : selectedIndex = i" [id]="selectedIndex == i ? 'weekLarge' : 'weekSmale'" [style]="{'background-color': i % 2 == 0 ? 'var(--light-blue-them-color)' : '','border': i % 2 == 1 ? '1px solid var(--dblue-them-color)' : ''}"  *ngFor="let weeks of semaineJours;index as i">
<!--{{week | json}}-->

           {{semaineJours[i][0][0][3]}}

          <div id="available" [style]="{'display': !semaineJours[i][y][3][6] && !semaineJours[i][y][2][6] && !semaineJours[i][y][1][6] && !semaineJours[i][y][0][6] ? 'none':''}"  *ngFor="let days of weeks;index as y">

            <div  *ngFor="let day of dayList;index as z">
                 <div *ngIf="day.day == semaineJours[i][0][0][3]">
                  Commence à {{day.heure }}{{day.creneau == '00' ? '00' : day.creneau == '15' ? '15' : day.creneau == '30' ? '30' : '45'}}
                 </div>

            </div>
          </div>


        </div>

      </div>



    </div>

