#wrapper {
  overflow-y: scroll;
  width: 85vw;
  height: 75vh;
margin: auto;
text-align: center;
}


mat-spinner {
  position: absolute;
    margin: 25vh auto auto 37vw;
    }

#btn-wrapper {
position: absolute;
top: 5vh;
right: 20vw;
color: var(--white-them-color);
& button {
  font-weight: bolder;
  border-radius: 10px;
  color: var(--blue-them-color);
  transition: 300ms;
  border: 1px solid var(--blue-them-color);
&:hover {
  color: var(--white-them-color);
  background-color: var(--blue-them-color);
}
     &:first-child {
     margin-right: 20px;
     }
     &:last-child {
      margin-right: 20px;
     }
}

}


.blocks {
  border-radius: 10px;
  height: fit-content;
  width: 35vw;
  display: inline-block;
  margin: auto 2vw 10vh 2vw;
}

#content {
width: auto;
}

#footer {
text-align: right;
margin: 7px 2vw auto auto;
}


#content-block {
  border-radius: 15px;
//  border: 1px solid var(--blue-them-color);
  justify-content: center;
  margin: auto auto auto auto;
min-width: 100%;
  max-width: 100%;
  height: 33vh;

  cursor: pointer;
  display: -webkit-box;
  overflow: hidden;
    -webkit-line-clamp: 11;
    -webkit-box-orient: vertical;
    display: flex;
text-align: center;

  &:hover {
    filter: blur(0.9px);
  }
  transition: 0.2s ease-in-out;


    p {
      word-wrap: break-word; // https://stackoverflow.com/questions/20565201/how-to-make-the-long-text-to-fit-inside-a-small-div
      max-width: 100%;
      display: block;
      flex-direction: column;
      height: 31vh;
      min-width: 17.5vw;
      padding: 0 1.5vw 2.5vh 1.5vw;
   margin: auto auto auto auto;
   overflow: hidden;
   font-size: 75%;
    }

  #imgWrp {
min-width: 17.5vw;
max-width: 17.5vw;

img {
  width: 100%;
}
  }
}

#img-wrp {
  text-align: right;
  min-width: max-content;

  img {
    align-content: flex-end;
    margin-bottom: 0.3vw;
    transition: 0.15s ease-in-out;
    cursor: pointer;
    &:hover {
      transform: scale(1.2);
    }
&:first-of-type {
  margin-right:1.2vw;

}
  }
}



/* width */
::-webkit-scrollbar {
  width: 10px;

}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(199, 205, 207);
  border-radius: 5px 5px 5px 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--light-blue-them-color);
  border-radius: 5px 5px 5px 5px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--blue-them-color);

}



  // [src]="'../../../../../assets/images/uploaded/RIB.png'" -> TESTING
  // [src]="imgFile" -> PRODUCTION






