<div id="btn-wrapper">
  <button (click)="openSavePostForm()" mat-button>Ajouter</button>
</div>
<router-outlet></router-outlet>
<div id="wrapper">
    <div *ngFor="let publication of publicationList;index as i" class="blocks">
        <h1 [innerHTML]="publication.title">
      </h1>

      <div id="img-wrp">
        <img (click)="deletePost(i)" width="25px" height="25px" src="../../../../assets/images/trash3-fill.svg">
        <img (click)="openModifyPublicationView(publication,publication.imgName,i)" src="../../../../assets/images/pencil-fill.svg">
      </div>
      <div (click)="openPublicationView(publication,publication.imgName)" width="25px" height="25px" id="content-block">

      <p id="content" [innerHTML]="publication.content"></p>

  </div>
  <div>
    <h4 id="footer" [innerHTML]="'Publier le : ' + publication.date">
  </h4>
</div>
      </div>

    </div>

