#wrapper {
  width: 75vw;
  background-color: var(--blue-them-color);
  border-radius: 10px;
}


#mat-lab-phone {
  display: none;
}
#redirect-login-btn2 {
  display: none;
}

// Coté droit
#rightSide {
  display: flex;
  height: 90vh;
  width: 50%;
  min-width: 50%;
justify-content: flex-start;
border-radius: 0px 10px 10px 0px;
background-color: var(--blue-them-color);
background: url("../../../assets/images/stethoscope.svg") no-repeat;
background-position: 90% 0%;
background-size: 135% 135%;

h1 {
  color: var(--white-them-color) ;
  max-width: 100%;
  align-self: left;
  margin-left: 50px;
  font-size: 250%;
  margin-bottom: 0;
  margin-top: 20px;

}

h2 {
  margin-left: 50px;
  color: var(--white-them-color) ;
  font-weight: bold;
}

#redirect-login-btn {
  display: flex;
  background-color: var(--white-them-color)  ;
  width: 15vw; //Ne doit pas dépasser 35vw (width du #rightSide)
  height: 40px;
  min-width: fit-content;
color: var(--blue-them-color)  ;
font-size: 125%;
border-radius: 25px;
margin-bottom: 30px;
margin-right: 35px;
justify-content: center;
align-self: flex-end;
&::after {
  position: absolute;
  width: 0vw;
  height: 2px;
  content: " ";
  background-color: var(--blue-them-color);
bottom: 7px;
transition:  ease-in-out 200ms;

}

&:hover {
  &::after {
      width:  70%;
  }
}
}
}



// Coté gauche
#leftSide {
  width: 50%;
  min-width: 50%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-items: flex-start;
  background-color: var(--white-them-color);
  border-radius: 10px 0px 0px 10px;
  color: var(--blue-them-color);
  justify-content: flex-start;
  h1 {
font-size: 250%;
margin-bottom: 0;
margin-top: 20px;
  }

  mat-label {
      color: var(--blue-them-color);
      background-color: transparent;
padding: 0 7px 0 7px;

  }

  #register-button {
      background-color:var(--blue-them-color);
      color: var(--white-them-color);;
      border-radius: 25px;
      align-self: center;
      font-size: 150%;
      min-width: fit-content;
      width: 60%;
      height: 40px;

      margin-top: 2vh;
  }
}

#copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--blue-them-color);
  margin: 0 auto auto auto;
  font-size: 100%;
  letter-spacing: 2px;

  :first-child {
      margin: 0 0 5px 0;
   }

   :last-child {
      margin: 0 0 0 0;
   }

}

form {
  margin: auto;
  align-items: center;
width: 80%;
letter-spacing: 2px;
}

#mff-psw {
  display: flex;
  width: 100%;
  position: absolute;
  justify-content: flex-end;
  top: 0;
  }


  // Global styles

  mat-error {
    min-width: max-content;
    letter-spacing: 1.1px;
    color: var(--blue-them-color);
  }






  @media only screen and (max-width: 640px) {



    #rightSide {

      button {
        display: none;
      }
      h1 {
        display: none;
      }
      #redirect-login-btn {
        display: none;
      }

display: none;

  }

  #leftSide {
    width: 100%;
    min-width: 100%;
    height: 100vh;
    border-radius: 0;
    background-color: var(--blue-them-color);
    color:var(--white-them-color);

    mat-label {
    color: var(--white-them-color);
    }

    #register-button {
      background-color:var(--white-them-color);
      color: var(--blue-them-color);
      font-size: 140%;
      height: 30px;
      margin-top: 2vh;
      display: flex;
      align-items: center;
      justify-content: center;

  }

  h1 {
    font-size: 175%;
    margin: 1vh auto 2vh auto;
  }
  }



  #wrapper {
    border-radius: 0;
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    display: flex;
    background-color: var(--blue-them-color);
    color:var(--white-them-color)
  }

  #title {
    display: none;
  }
  mat-label {
  color:var(--white-them-color)

  }
  input {
  color:var(--white-them-color)
  }
  mat-error {
    color:var(--white-them-color)
  }


  #mat-lab-phone {
    display: initial;
    color:var(--white-them-color);
    font-size: 90%;

  }
  #redirect-login-btn2 {
    display: initial;
background-color: var(--white-them-color);
color:var(--blue-them-color)
  }

  #copyright {
    color: var(--white-them-color);
    margin: 15px auto 2vh auto;
text-align: center;
font-size: 65%;

    :first-child {
        margin: 0 0 0 0;

     }

     :last-child {
        margin: 10px 0 0 0;
     }

  }




    }

  @media only screen and (min-width:641px) and (max-width: 1007px)   {

  }

  @media only screen and (min-width:1008px)  {

  }


