
mat-row, mat-header-row, mat-footer-row, th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  border-color : transparent;
  border-bottom:unset
}

#wrapper {
  top: -7vh;
  margin: auto;
  display: flex;
  flex-direction: row;
  max-height: 60vh;
  margin-top: 1vh;
  overflow-y: visible;
  overflow-x: hidden;
  padding-right: 1.5vw;// Space between scroll and the view
  justify-content: center;
  // box-shadow: inset  1px 1px 5px grey;
  width: 80%;
  border-radius: 10px;
}
#switch {
  text-align: center;

  #user {
    border-radius: 10px 0 0 10px;
    width: 15vw;
    height: 7vh;
    border: 1px solid var(--blue-them-color);
  }
  #log {
      border-radius: 0 10px 10px 0;
      border-left: 0;
      width: 15vw;
      height: 7vh;
      border: 1px solid var(--blue-them-color);
  }
  .user {
    background-color: var(--blue-them-color);
    color: var(--white-them-color);
    border: 1px solid var(--blue-them-color);
    border-radius: 10px 0 0 10px;
    border-right: 0;
    border-left: 0;
width: 15vw;
height: 7vh;
  }

  .log {
    background-color: var(--blue-them-color);
    border: 1px solid var(--blue-them-color);
    color: var(--white-them-color);
    border-radius: 0 10px 10px 0;
    border-left: 0;
    width: 15vw;
    height: 7vh;

  }

}


table, th, td {

  border:transparent;
}

#details {
  height: fit-content;
  padding: 0 0 0 0;
  min-height: fit-content;
  border:transparent;
}

#expandee {
  width: 100%;
  display: flex;
  flex-direction: column;

border: 0;
}
#expandeeItems {
  justify-content: center;
  border: 0;
  max-height: 100px;

}



tr.example-detail-row {
  height: var(--space-btwn-rows);
  background-color: transparent;

}


.example-element-detail {
  overflow: hidden;
  display: flex;
    //display: none; // Activé pour supprimer les extensions des lignes
}

.search {
  width: 25%;
}

#search {
  display: flex;
  margin: auto -2vw auto auto;
  justify-content: right;
  align-items: center;
  align-content: center;
  align-self: center;
  width: fit-content;
  height: 10vh;
  padding-top: 2.5vh;
  font-size: 80%;
  }

  mat-form-field {

    width: 20vw;
    color: var(--blue-them-color);

  }



table {
  height: fit-content;
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

th {
  font-weight: bold;
  font-size: 105%;
}

.form {
box-shadow: none;
background-color: transparent;


}

.example-element-row {
  border: 0;
  height: 0;
}

.example-element-rowLog {
  border: 0;
  height: 0;
}


.example-element-rowLog td {

  font-size: 107%;
z-index: 1;
  cursor: pointer;
  margin: auto auto auto auto;
height: var(--rows-height); //
  &:first-of-type {
    border-radius: 10px 0 0 10px;
border-left: 1px var(--blue-them-color) solid;
border-right: none;
  }

  &:nth-of-type(3n) {

    border-left: none;
  }
  &:nth-of-type(2n) {
    border-right: none;
    border-left: none;
  }
  &:nth-of-type(5n) {
    border-radius: 0 10px 10px 0;
    border-right: 1px var(--blue-them-color) solid;
  }

  &:last-child {
    padding: 0;

  }
}


.example-element-row td {
  font-size: 107%;
z-index: 1;
  cursor: pointer;
  margin: auto auto auto auto;
height: var(--rows-height); //
  &:first-of-type {
    border-radius: 10px 0 0 10px;
border-left: 1px var(--blue-them-color) solid;
border-right: none;
  }

  &:nth-of-type(3n) {
    border-radius: 0 10px 10px 0;
    border-right: 1px solid var(--blue-them-color);
    border-left: none;
  }
  &:nth-of-type(2n) {
    border-right: none;
    border-left: none;
  }

  &:last-child {
    padding: 0;

  }
}

.deleteUser {

 margin: auto auto auto auto;
}

.modifyUser {
  margin: auto auto auto auto;

}
.info {
  margin: auto auto auto auto;
height: fit-content;
}

.del-wrp-btn {
  justify-content: center;
  align-content: center;
margin: auto 0 auto auto;
display: flex;
height: fit-content;

}



#btn-grp {
  color: var(--blue-them-color);
margin-top: 20px;
button {
  width: 40%;
  align-self: center;
border: 1px solid var(--blue-them-color);
font-size: 70%;

}
}
mat-radio-group {
  margin-top: 15px;

  mat-radio-button {
    &:first-of-type {
      margin-right: 15px;
    }
  }
}

.example-element-diagram {
  display: flex;
  flex-direction: column;
  width: 70%;
  min-width: max-content;
margin-bottom: 1vh;
  border-top: 1px solid var(--blue-them-color);
  padding-top: 10px;
  gap: 2vh;
  div {
    display: flex;
    flex-direction: column;
    gap: 10px;


  }
  #last{
    flex-direction: row;
    gap: 3vw;
align-items: center;
    span {
      display: flex;

      font-weight: normal;
      font-size: 120%;
    }
  }

}

.t-area-wrp {
  width: 100%;
  min-width: max-content;
  display: flex;
  flex-direction: row;
font-weight: bold;
  }

  textarea {
font-weight: normal;
    margin: 10px auto 10px auto;
    width: fit-content;
  }



mat-paginator {
margin: auto;
width: fit-content;
}

#success {
  animation: success 1000ms ease-in-out;
  height: max-content;
  width: max-content;
  opacity: 0;
  color: greenyellow;
}

@keyframes success {

  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }


}


//Scroll
/* width */
::-webkit-scrollbar {
  width: 10px;

}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(199, 205, 207);
  border-radius: 5px 5px 5px 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--blue-them-color);
  border-radius: 5px 5px 5px 5px;

}

// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//   background: var(--blue-them-color);

// }
