form {
  display: grid;
  height: 100%;
}


button {
  background-color: var(--blue-them-color);
  color: var(--white-them-color);
  width: 33%;
  min-width: max-content;
  justify-self: center;
  max-height: 7vh;
}
