<form [formGroup]="formGroup!" (submit)="addFiles()">
  <ng-container *ngFor="let item of uploader.queue; index as i">
    <h3>Fichier n°{{i + 1}}</h3>
    <img id="trash-file" height="25px" width="15px" (click)="uploader.removeFromQueue(uploader.queue[i])" src="../../../../../../assets/images/trash3-fill.svg">
    <mat-form-field  [floatLabel]="'always'">
      <mat-label>
        Nom du fichier
      </mat-label>
      <input   [formControlName]="'name' + i" placeholder="Nom du fichier"  matInput>
      <h4 style="margin:0">{{imgExtension[i]}}</h4>
        </mat-form-field >

        <mat-form-field   [floatLabel]="'always'">
          <mat-label>
            Chapitre
          </mat-label>
          <input [formControlName]="'chapter' + i" placeholder="N° du chapitre" matInput>
        </mat-form-field>
  </ng-container>

  <div id="filesWrp">
    <mat-label>
      Ajouter vos fichiers
    </mat-label>
    <button type="button" style="cursor: pointer;width: 5vw;height:7vh" mat-mini-fab color="primary"

    >   <mat-icon>attach_file</mat-icon>
    <input
    type="file"
    id="fileUpload"
    ng2FileSelect
    accept=".pdf,.jpg,.png,.jpeg"
    [uploader]="uploader!"
    multiple
    />
    </button>
    <button *ngIf="!isSending && !(uploader.queue.length == 0)" type="submit" mat-button>Ajouter et quitter</button>
    
  </div>

</form>


<mat-spinner style="margin:auto" *ngIf="isSending"></mat-spinner>
