<div id="wrapper">
  <div id="leftwrp">
    <h1>Gestion des plannings</h1>
    <div id="switch">
      <button [ngClass]="view == 'Group' ? 'Groupe' : ''" id="Groupe" (click)="view = 'Group';getGroups('Group')" mat-button>Groupe</button>
      <button [ngClass]="view == 'Enseignant' ? 'Enseignant' : ''" id="Enseignant" (click)="view = 'Enseignant';getEnseignant('Enseignant')" mat-button>Enseignant</button>
    </div>
  <div id="leftSide">
    <mat-card (click)="selectLeftItem(i)" [style]="{'opacity': globalIndex == i ? '1' : '0.7'}"   class="group-card" *ngFor="let group of groups;index as i">

<textarea readonly class="planningOwner" name="groups" #text>{{group.groupName || group.firstname + ' ' + group.lastname}}</textarea>


      <button *ngIf="view == 'Group' && !(group.groupName == 'Tronc Commun Class A' || group.groupName == 'Tronc Commun Class B')"  (click)="delDiscussionGroup(i)"  mat-button><img  width="25px" height="25px" src="../../../../assets/images/trash3-fill.svg"></button>
<button *ngIf="view == 'Group' && !(group.groupName == 'Tronc Commun Class A' || group.groupName == 'Tronc Commun Class B')" (click)="suppressReadOnly(i,text.value)"  mat-button><img  src="../../../../assets/images/pencil-fill.svg"></button>

    </mat-card>
  </div>
  <img *ngIf="view == 'Group'" (click)="createGroup()" class="add"  width="50px" height="50px" src="../../../../assets/images/plus-square-fill.svg">
</div>

<div id="rightWrp">
  <div id="rightSide">

    <mat-card class="user-card" *ngFor="let user of userList">
      <mat-label>{{user.firstname}}</mat-label>
      <button (click)="deletUser(user)" mat-button><img width="20vw" height="100%" src="../../../../assets/images/trash3-fill.svg"></button>
    </mat-card>
      </div>

      <div id="planning-wrp" routerLink="../{{selectedLeftItem}}">
        <span>Gérer le planning {{(view == 'Enseignant' ? 'de ': '') + selectedLeftItem}} </span>
        <img id="planning" src="../../../../../assets/images/arrow-right.svg" >
      </div>
<img *ngIf="view == 'Group'" (click)="openSaveUserPostForm()"  class="add" width="50px" height="50px" src="../../../../assets/images/plus-square-fill.svg">

</div>

</div>
