

h1 {

margin: 1.5vh auto 4vh 5vw;
height: max-content;
width: max-content;
  color: var(--blue-them-color);
text-align: left;
border-collapse: collapse;
background-color: var(--white-them-color);
z-index: 2;
box-shadow:   5px 7px 10px rgba(255, 255, 255, 0.452);
}

#wrapper {
margin-top: -4vh;
  height: 90%;
  display: flex;
}

mat-card {
  text-align: left;
  border-radius: 12px;
  color: var(--white-them-color);
  background-color: var(--blue-them-color);
  width: 80%;
  display: flex;
  align-items: center;
    justify-content: right;
  button {
    align-self: center;
    justify-self: right;
    justify-content: right;
    background-color: transparent;
padding: 0;
margin: 0;

  }
}


mat-label {
  width: 100%;
}

.group-card {
display: flex;
  height: 8vh;

  z-index: 1;
  margin: auto auto 5vh auto;
  cursor: pointer;
}
.user-card {
  display: flex;
  height: 7vh;
  margin: auto auto 5vh auto;
}

#rightSide {
  height: 80%;
  width: 100%;
  margin: auto;
overflow-y: scroll;
margin-top: 11vh;


}

#rightWrp {
  width: 100%;
  text-align: center;
  .add {
    cursor: pointer;
    transition: 300ms ease-out all;
    &:hover {
      transform: scale(1.2);
    }
  }
}

// #stylo {
// transform: scale(0);
// }



#leftwrp {
width: 37%;
min-height: max-content;
height: 80%;
text-align: center;

.add {
  cursor: pointer;
  transition: 300ms ease-out all;
  &:hover {
    transform: scale(1.2);
  }
}




}

#leftSide {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  text-align: center;
}

.addGroup {
  height: 100%;
  border: none;
  background-color: var(--blue-them-color);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: var(--white-them-color);
  outline: none;
  resize: none;
  cursor: pointer;

}

#delReadOnly {
  cursor: pointer;
}




  /* width */
  ::-webkit-scrollbar {
    width: 10px;

  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(199, 205, 207);
    border-radius: 5px 5px 5px 5px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--blue-them-color);
    border-radius: 5px 5px 5px 5px;

  }

