
<div id="wrapper">
  <div id="leftwrp">
    <h1>DISCUSSIONS</h1>
  <div id="leftSide">
    <mat-card [style]="{'opacity': globalIndex == i ? '1' : '0.7'}" (click)="selectDiscussion(i)"  class="group-card" *ngFor="let group of globalDiscussionList;index as i">

<textarea readonly class="addGroup" name="groups" #text>{{group.name}}</textarea>

      <button (click)="group ? delDiscussionGroup(group._id!) : null"  mat-button><img  width="25px" height="25px" src="../../../../assets/images/trash3-fill.svg"></button>
<button (click)="suppressReadOnly(i,text.value)" mat-button><img  src="../../../../assets/images/pencil-fill.svg"></button>

    </mat-card>
  </div>
  <img [matMenuTriggerFor]="menu"  class="add"   width="50px" height="50px" src="../../../../assets/images/plus-square-fill.svg">
  <mat-menu #menu matMenu="menu">
    <mat-form-field
      (click)="$event.stopPropagation()"
      floatLabel="always"
    >
      <mat-label>Nom du group</mat-label>
      <input #groupName matInput />
    </mat-form-field>
    <button (click)="createDiscussionGroup(groupName.value)" style="border: 1px solid var(--dblue-them-color)" mat-button>
      Créer le group {{ groupName.value }}
    </button>
  </mat-menu>
</div>

<div id="rightWrp">
  <div id="rightSide">

    <mat-card class="user-card" *ngFor="let user of globalDiscussionList[globalIndex] ? globalDiscussionList[globalIndex].user_list : null">
      <mat-label>{{user.firstname}}</mat-label>
      <button (click)="deletUser(user)"  mat-button><img width="20vw" height="100%" src="../../../../assets/images/trash3-fill.svg"></button>
    </mat-card>
  </div>
<img class="add" (click)="openSaveUserPostForm()" width="50px" height="50px" src="../../../../assets/images/plus-square-fill.svg">
</div>

</div>
